[2017-09-30 18:00] blaze182 commented on #75
Implemented another helper for request specs: [auth helper for requests](https://gist.github.com/blaze182/3a59a6af8c6a7aaff7bf5f8078a5f2b6)

[2017-09-30 18:06] lynndylanhurley commented on #75
@blaze182 - that's an interesting approach. i'm going to try that out

[2017-10-01 17:39] brycesenz commented on #927
I just ran into this issue myself.  As near as I can tell, this is what's happening:

1.  The link that is generated in an unlock email posts to the `show` action of the unlock controller.  There isn't explicitly a controller in this gem for unlocks, so it just uses the `UnlocksController` of the standard Devise gem.

2.  The default redirect URL for that controller is the `new_session_path`.  Whi

[2017-10-02 02:37] luannguyenkhoa commented on #223
@stephanebruckert
I added it but through error
`Processing by DeviseTokenAuth::RegistrationsController#create as */*                                                        │Using rspec 3.6.0
  Parameters: {"email"=>"123abc@abc.com", "password"=>"[FILTERED]", "password_confirmation"=>"[FILTERED]"}                  │Using rails-dom-testing 2.0.3
   (0.1ms)  BEGIN

[2017-10-02 16:14] seanmiddaugh commented on #962
@zachfeldman thanks for the response. Maybe this will lead to something. I'm now seeing the following which is the cause of it not hitting the callback:

[code]

I've tested this on my Heroku server too and I'm getting the exact same response. Any ideas? I think I'm closer.

[2017-10-03 18:26] seanmiddaugh commented on #962
@zachfeldman am I approaching this social login correctly?

[2017-10-03 18:34] zachfeldman commented on #962
@seanmiddaugh sorry but I don't write Ionic apps so I'm not sure I can help you much further :(. Have you tried looking for sample Ionic 2 implementations for social login?

[2017-10-03 19:02] lsarni commented on #118
Same issue with devise_token_auth (0.1.42), but it only happened when I created a second model using `rails g devise_token_auth:install`. For the first model it worked fine.

[2017-10-03 20:48] ethagnawl commented on #172
@dyaa Did you ever figure out a workable solution?

[2017-10-03 20:53] lsarni commented on #450
I'm getting the same error when trying to use this gem in combination with [ActiveAdmin](https://github.com/activeadmin/activeadmin):

[code]

I haven't been able to make the workaround work.
I have another model called User for the API side of my app and that one works just fine.

[2017-10-04 12:54] lsarni commented on #47
I have tried what @wkoffel said but I still get this error:

[code]

[2017-10-04 17:26] rmcsharry commented on #947
@jraczak If you mounted the gem at 'api' or even 'api/v1' namespace then the methods change:
current_user becomes current_api_user or even current_api_v1_user

[2017-10-05 03:15] ethagnawl commented on #892
@lynndylanhurley In attempting to write a failing test, I've realized this issue seems to only affect Rails >= 5.1.0. So, I've got a failing test, but can't submit it because (AFAIK) it would involve changing the gemspec.

![screenshot 2017-10-04 23 11 26](https://user-images.githubusercontent.com/289949/31209566-ca2b72e2-a959-11e7-98d0-552f719598de.png)

Hopefully that information is of some use

[2017-10-05 14:27] lsarni commented on #47
I tried @wkoffel  workaround and it does get ActiveAdmin working but `authenticate_api_v1_user!` returns an error and `current_api_v1_user` returns `nil` for my api controllers.
I have some custom controllers:
[code]
And they don't seems to be using `ApiController`, kind of like in this [question](https://stackoverflow.com/questions/37997887/make-a-seperate-apicontroller-from-applicationcontroller

[2017-10-06 03:05] zachfeldman commented on #61
Hi there @jasonswett ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if you're ready to contribute! Hope all is well.

[2017-10-06 03:09] zachfeldman commented on #101
Hi there @c0mrade  ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-06 03:13] zachfeldman commented on #109
Hi there @nicolas-besnard  ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-06 03:15] zachfeldman commented on #122
Hi there @obsidienne  ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-06 03:16] zachfeldman commented on #131
Hi there @nicolas-besnard  ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-06 13:23] zachfeldman commented on #134
Hi there @rmagnum2002   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it

[2017-10-06 13:23] zachfeldman commented on #141
Hi there @sburke56 and @milesmatthias   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (

[2017-10-06 13:23] zachfeldman commented on #151
Hi there @nicolas-besnard  ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-06 13:24] zachfeldman commented on #153
Hi there @danimalkelley   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-06 13:24] zachfeldman commented on #155
Hi there @salmanasiddiqui ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-06 13:24] zachfeldman commented on #157
Hi there @AlanHassen   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-06 13:25] zachfeldman commented on #163
Hi there @bizmurr   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-06 13:25] zachfeldman commented on #164
Hi there @m2omou   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-06 13:26] zachfeldman commented on #166
Hi there @c0mrade   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-06 13:27] zachfeldman commented on #168
Hi there @patricks   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-06 13:27] zachfeldman commented on #178
Hi there @Timboh56   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-06 13:27] zachfeldman commented on #180
Hi there @hwhelchel   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-06 13:28] zachfeldman commented on #185
Hi there @hwhelchel   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-06 13:28] zachfeldman commented on #188
Hi there @maukoquiroga   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if i

[2017-10-06 13:29] zachfeldman commented on #192
Hi there @robypez   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-06 13:29] zachfeldman commented on #194
Hi there @davidtlee  ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-06 13:30] zachfeldman commented on #196
Hi there @casertap  ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-06 13:30] zachfeldman commented on #199
Hi there @andreydeineko   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-06 13:30] zachfeldman commented on #211
Hi there @mkhatib   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-06 15:05] salmanasiddiqui commented on #155
@zachfeldman ,

Before this issue is closed, I would propose to make a simple change in `devise_token_auth`

Fix the signature of  `authenticate_#{mapping}!` method.
In Devise `authenticate_#{mapping}!` method accepts 1 argument `opts`. As `devise_token_auth` 's intention is to override this method hence the signature should be same.

[2017-10-06 15:43] #141 closed

[2017-10-07 09:55] tomoyuki28jp commented on #118
Same issue here :(

[2017-10-07 12:42] c0mrade commented on #166
hey @zachfeldman no, not having problems anymore, this is good to close, it's an old issue.

[2017-10-07 12:43] c0mrade commented on #101
this one is good to close too

[2017-10-07 13:17] #166 closed

[2017-10-07 13:17] #101 closed

[2017-10-07 13:39] zachfeldman commented on #212
Hi there @boyfunky    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 13:39] zachfeldman commented on #215
Hi there @nicolas-besnard    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially

[2017-10-07 13:39] zachfeldman commented on #216
Closed as out of scope. @nicolas-besnard feel free to reopen if you disagree.

[2017-10-07 13:39] #216 closed

[2017-10-07 13:40] zachfeldman commented on #219
Hi there @spheregenomics    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially i

[2017-10-07 13:40] zachfeldman commented on #222
Hi there @samuelmartinucci2    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especiall

[2017-10-07 13:41] zachfeldman commented on #227
Hi there @samuelmartinucci2    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especiall

[2017-10-07 13:41] zachfeldman commented on #228
Hi there @kaevee    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 13:41] zachfeldman commented on #233
Seems like this one is solved.

[2017-10-07 13:41] #233 closed

[2017-10-07 13:42] zachfeldman commented on #235
Seems solved. Reopen if not @karimbutt

[2017-10-07 13:42] #235 closed

[2017-10-07 13:42] zachfeldman commented on #244
Hi there @lumenlunae   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 13:43] zachfeldman commented on #247
Seems like cases are mostly solved here. Feel free to reopen if not.

[2017-10-07 13:43] #247 closed

[2017-10-07 13:44] zachfeldman commented on #258
Close in favor of #74

[2017-10-07 13:44] #258 closed

[2017-10-07 13:44] zachfeldman commented on #263
Hi there @seoyoochan    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it

[2017-10-07 13:44] zachfeldman commented on #264
Hi there @JoshuaNovak919    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially i

[2017-10-07 13:45] zachfeldman commented on #265
Closed in favor of #456, which has a gist workaround.

[2017-10-07 13:45] #265 closed

[2017-10-07 13:46] zachfeldman commented on #279
Nobody else has reported this and it's been more than 2 years, so I'll be closing for now @ACPK .

[2017-10-07 13:46] #279 closed

[2017-10-07 13:47] zachfeldman commented on #282
Seems like @KRaymundus has a possible answer here with little activity since then, so I'll be closing this for now.

[2017-10-07 13:47] #282 closed

[2017-10-07 13:48] zachfeldman commented on #284
Hi there @qx ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a bug re

[2017-10-07 13:49] zachfeldman commented on #290
Hi there @alextakitani    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 13:50] zachfeldman commented on #292
Hi there @wjdhamilton    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if i

[2017-10-07 13:50] zachfeldman commented on #298
Hi there @Permagate    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 13:50] zachfeldman commented on #303
Seems like we have a solution for this one, so closing for now.

[2017-10-07 13:50] #303 closed

[2017-10-07 13:51] zachfeldman commented on #313
Hi there @SvehlaJan and @booleanbetrayal    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the iss

[2017-10-07 13:52] zachfeldman commented on #314
PR is closed and last post was 2 years ago, closing this one out for now

[2017-10-07 13:52] #314 closed

[2017-10-07 13:52] zachfeldman commented on #316
Hi there @BjornMelgaard    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 13:53] zachfeldman commented on #789
Closed in favor of #324

[2017-10-07 13:53] #789 closed

[2017-10-07 13:54] zachfeldman commented on #325
Great. Closing this then

[2017-10-07 13:54] #325 closed

[2017-10-07 13:54] zachfeldman commented on #332
Hi there @StringfellowHawke    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especiall

[2017-10-07 13:54] zachfeldman commented on #334
Hi there @ghost   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a b

[2017-10-07 13:54] zachfeldman commented on #338
Closed due to lack of details/activity

[2017-10-07 13:54] #338 closed

[2017-10-07 13:55] zachfeldman commented on #339
Seems to be a solution here/no activity. Closing for now.

[2017-10-07 13:55] #339 closed

[2017-10-07 13:55] zachfeldman commented on #342
Hi there @pducks32 and @frankmarineau   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (

[2017-10-07 13:56] zachfeldman commented on #343
Sounds like we have a solution here, so I'm going to close this one out for now.

[2017-10-07 13:56] #343 closed

[2017-10-07 13:56] zachfeldman commented on #344
Possible solution, no activity in a while, so closing.

[2017-10-07 13:56] #344 closed

[2017-10-07 13:56] #316 closed

[2017-10-07 13:57] zachfeldman commented on #345
Hi there @Dschee    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 13:58] zachfeldman commented on #346
Seems that this PR added support at least for lockable. If people feel strongly about timeoutable (and it's not already done/filed), feel free to file a new issue.

[2017-10-07 13:58] #346 closed

[2017-10-07 13:58] zachfeldman commented on #353
Hi there @ronshoshani   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it

[2017-10-07 13:59] zachfeldman commented on #354
Closed due to lack of information and from 2 years ago

[2017-10-07 13:59] #354 closed

[2017-10-07 14:00] zachfeldman commented on #359
Hi there @fertingoff    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it

[2017-10-07 14:01] zachfeldman commented on #361
Seems like this is solved? See #89 . Otherwise feel free to reopen.

[2017-10-07 14:01] #361 closed

[2017-10-07 14:01] zachfeldman commented on #363
No other reports of this, so closing for now.

[2017-10-07 14:01] #363 closed

[2017-10-07 14:01] zachfeldman commented on #364
Hi there @abhayastudios    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 14:03] zachfeldman commented on #365
Seems like this problem has an accepted solution, so closing for now.

[2017-10-07 14:03] #365 closed

[2017-10-07 14:03] zachfeldman commented on #366
Seems like this issue has an accepted solution, so closing for now.

[2017-10-07 14:03] #366 closed

[2017-10-07 14:04] zachfeldman commented on #372
Hi there @chirag7jain    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if i

[2017-10-07 14:05] zachfeldman commented on #385
I believe this is the library in question:
https://github.com/lynndylanhurley/redux-auth

Closing for now!

[2017-10-07 14:05] #385 closed

[2017-10-07 14:06] zachfeldman commented on #389
Closed due to inactivity and a possible solution.

[2017-10-07 14:06] #389 closed

[2017-10-07 14:06] zachfeldman commented on #391
Hi there @JatinYadav1307    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially i

[2017-10-07 14:07] zachfeldman commented on #392
Hi there @booleanbetrayal   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially i

[2017-10-07 14:07] zachfeldman commented on #394
Seems like we have a workable solution, thanks @colindensem !

[2017-10-07 14:07] #394 closed

[2017-10-07 14:08] zachfeldman commented on #396
Hi there @Dschee    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 14:09] zachfeldman commented on #397
Seems like the related issue has a possible fix, so closing for now.

[2017-10-07 14:09] #397 closed

[2017-10-07 14:09] zachfeldman commented on #400
Hi there @AdamQuadmon    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if i

[2017-10-07 14:11] zachfeldman commented on #419
Hi there @paulosoares86    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 14:11] zachfeldman commented on #420
Sounds like we have a solution to this problem and no activity in almost 2 years. Closing for now.

[2017-10-07 14:11] #420 closed

[2017-10-07 14:12] zachfeldman commented on #432
Sounds like we have an accepted solution here, closing for now.

[2017-10-07 14:12] #432 closed

[2017-10-07 14:13] zachfeldman commented on #433
PR was closed a while ago, going to close this issue for now.

[2017-10-07 14:13] #433 closed

[2017-10-07 14:13] zachfeldman commented on #437
Hi there @Haseeb717    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 14:13] zachfeldman commented on #447
Closed due to lack of information

[2017-10-07 14:13] #447 closed

[2017-10-07 14:14] zachfeldman commented on #448
Hi there @rahulnht    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:15] zachfeldman commented on #449
Hi there @lolgear    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:16] zachfeldman commented on #451
@lolgear thanks for the example app! It was posted 2 years ago though and a lot has changed since then, so I'm going to close this for now.

[2017-10-07 14:16] #451 closed

[2017-10-07 14:16] zachfeldman commented on #452
Hi there @lolgear    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:17] zachfeldman commented on #456
Sounds like we have a solution, so closing this for now.

[2017-10-07 14:17] #456 closed

[2017-10-07 14:17] zachfeldman commented on #457
Sounds like we have a proposed solution, so closing for now.

[2017-10-07 14:17] #457 closed

[2017-10-07 14:17] zachfeldman commented on #458
Seems like it's compatible!

[2017-10-07 14:17] #458 closed

[2017-10-07 14:17] zachfeldman commented on #459
Hi there @ysyyork    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:18] zachfeldman commented on #460
Hi there @pavloo    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 14:18] zachfeldman commented on #461
Closing due to lack of information

[2017-10-07 14:18] #461 closed

[2017-10-07 14:19] zachfeldman commented on #464
Hi there @dmtroyer and @jamesdabbs    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (es

[2017-10-07 14:19] abhayastudios commented on #364
Not sure if the issue is still there or not, but I am not working with rails anymore. Thanks!

[2017-10-07 14:19] #364 closed

[2017-10-07 14:21] zachfeldman commented on #471
Hi there @dgoradia and @albertsaave    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (e

[2017-10-07 14:22] zachfeldman commented on #473
Seems like @dmons posted a possible solution, so closing this one out for now.

[2017-10-07 14:22] #473 closed

[2017-10-07 14:22] zachfeldman commented on #475
Hi there @mustela    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:22] zachfeldman commented on #477
Hi there @fertingoff    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it

[2017-10-07 14:30] zachfeldman commented on #479
Hi there @SunnyTam    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:30] zachfeldman commented on #481
Sounds like we have an accepted solution here, so closing this for now!

[2017-10-07 14:30] #481 closed

[2017-10-07 14:31] zachfeldman commented on #485
Closed in favor of #563

[2017-10-07 14:31] #485 closed

[2017-10-07 14:32] zachfeldman commented on #487
Hi there @stephanebruckert    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially

[2017-10-07 14:32] zachfeldman commented on #488
Posted solution, closing for now

[2017-10-07 14:32] #488 closed

[2017-10-07 14:32] zachfeldman commented on #489
Hi there @michaelstokes    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 14:33] zachfeldman commented on #494
Hey @nixv2 , you can use the same helpers that devise uses to sign in users:
http://www.rubydoc.info/github/plataformatec/devise/Devise/Controllers/SignInOut

Going to close this but feel free reopen if you'd like!

[2017-10-07 14:33] #494 closed

[2017-10-07 14:35] zachfeldman commented on #495
Seems like we have an accepted solution here, so closing this for now.

[2017-10-07 14:35] #495 closed

[2017-10-07 14:36] zachfeldman commented on #515
Hi there @hybmg57 and @a7medfahmy94    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (e

[2017-10-07 14:37] zachfeldman commented on #516
Nobody else seems to have a problem with this in the last 1.5 years so I'm going to close this for now.

[2017-10-07 14:37] #516 closed

[2017-10-07 14:37] zachfeldman commented on #522
Hi there @alfmatos    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:38] zachfeldman commented on #524
Sounds like this issue has a solution. Closing

[2017-10-07 14:38] #524 closed

[2017-10-07 14:38] zachfeldman commented on #529
Hi there @meenakshiBadhan    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially

[2017-10-07 14:38] zachfeldman commented on #534
Sounds like we have an accepted solution, closing for now.

[2017-10-07 14:38] #534 closed

[2017-10-07 14:39] zachfeldman commented on #535
Seems like we have a solution for this, so closing for now.

[2017-10-07 14:39] #535 closed

[2017-10-07 14:39] zachfeldman commented on #539
I don't think there is. Seems like you've found a solution that works for you!

[2017-10-07 14:39] #539 closed

[2017-10-07 14:42] zachfeldman commented on #542
You can change the default from: in action mailer! Closing this for now. http://guides.rubyonrails.org/action_mailer_basics.html

[2017-10-07 14:42] #542 closed

[2017-10-07 14:43] zachfeldman commented on #544
Sounds like we have a proposed solution, so closing this for now.

[2017-10-07 14:43] #544 closed

[2017-10-07 14:44] zachfeldman commented on #545
Hi there @lakesare   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:44] zachfeldman commented on #546
Hi there @djsegal and @cristhiano    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (esp

[2017-10-07 14:45] zachfeldman commented on #548
Sounds like we have a proposed solution here? Closing for now.

[2017-10-07 14:45] #548 closed

[2017-10-07 14:46] zachfeldman commented on #551
Sounds like we have a proposed solution here, closing for now.

[2017-10-07 14:46] #551 closed

[2017-10-07 14:46] zachfeldman commented on #552
Hi there @bobmshannon   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it

[2017-10-07 14:47] zachfeldman commented on #553
Hi there @RailsDevKH   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 14:47] zachfeldman commented on #554
No activity in over a year, closing this for now.

[2017-10-07 14:47] #554 closed

[2017-10-07 14:47] zachfeldman commented on #555
Hi there @galharth    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:47] zachfeldman commented on #556
Hi there @galharth    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 14:48] zachfeldman commented on #558
Closed due to lack of information

[2017-10-07 14:48] #558 closed

[2017-10-07 14:48] zachfeldman commented on #559
Sounds like we have a proposed solution. Closing for now.

[2017-10-07 14:48] #559 closed

[2017-10-07 14:49] zachfeldman commented on #560
@Aetherus nobody else commented saying this was important in 1.5 years or so, so I'm going to close this now. But good day to you!

[2017-10-07 14:49] #560 closed

[2017-10-07 14:54] zachfeldman opened #969 "Contributors Wanted!"
# Contributors wanted!

See our [Contribution Guidelines](https://github.com/lynndylanhurley/devise_token_auth/blob/master/.github/CONTRIBUTING.md). We're making an effort to bring back this gem and fix everything open! Feel free to submit pull requests, review pull requests, or review open issues. If you'd like to get in contact, [Zach Feldman](https://github.com/zachfeldman) has been wrangling t

[2017-10-07 14:59] zachfeldman commented on #570
Hi there @danielprudhomme    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially

[2017-10-07 14:59] zachfeldman commented on #572
Hi there @Quintasan @rccursach    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especi

[2017-10-07 15:00] zachfeldman commented on #573
Sounds like we have a proposed solution here, closing for now.

[2017-10-07 15:00] #573 closed

[2017-10-07 15:00] zachfeldman commented on #583
Hi there @chriskozlowski    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially i

[2017-10-07 15:01] zachfeldman commented on #584
Sounds like we have a proposed solution here, so closing for now.

[2017-10-07 15:01] #584 closed

[2017-10-07 15:01] zachfeldman commented on #586
Hi there @anklos @daudt    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 15:02] zachfeldman commented on #590
Seems like a nonissue from the discussion so far, so I'm closing for now.

[2017-10-07 15:02] #590 closed

[2017-10-07 15:02] zachfeldman commented on #591
Seems like we have a proposed solution, so closing this for now

[2017-10-07 15:02] #591 closed

[2017-10-07 15:03] zachfeldman commented on #593
Hi @filosofisto , if you feel this way please submit a pull request. Thanks! :)

[2017-10-07 15:03] #593 closed

[2017-10-07 15:04] zachfeldman commented on #594
Hi there @cars10 and @KRaymundus    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (espe

[2017-10-07 15:05] zachfeldman commented on #595
Nobody else was concerned about this in the last year or so, so I'm going to close this for now.

[2017-10-07 15:05] #595 closed

[2017-10-07 15:05] zachfeldman commented on #598
Seems like we have a proposed solution here, so closing for now.

[2017-10-07 15:05] #598 closed

[2017-10-07 15:06] zachfeldman commented on #599
@rachuxx feel free to submit a PR! Closing for now due to a proposed workaround.

[2017-10-07 15:06] #599 closed

[2017-10-07 15:06] zachfeldman commented on #602
Hi there @ArmandoMendoza    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially i

[2017-10-07 15:08] zachfeldman commented on #604
@denishaskin we would love your PR!

[2017-10-07 15:08] zachfeldman commented on #605
Hi there @volfgox    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 15:08] zachfeldman commented on #609
Hi there @NetanelBasal    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 15:09] zachfeldman commented on #610
Hi there @vdruon    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 15:09] zachfeldman commented on #613
Closed in favor of #662 (just to consolidate)

[2017-10-07 15:09] #613 closed

[2017-10-07 15:10] zachfeldman commented on #616
Yup, you do need to include that concern it would seem to make things work (in my experience).

Going to close this issue for now.

[2017-10-07 15:10] #616 closed

[2017-10-07 15:10] zachfeldman commented on #617
Hi there @PaulRenvoise    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 15:11] zachfeldman commented on #621
It actually has been recently :). Yay!

[2017-10-07 15:11] #621 closed

[2017-10-07 15:12] zachfeldman commented on #622
Hi there @hrangel    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 15:13] zachfeldman commented on #623
Seems like we have a solution/workaround, closing for now.

[2017-10-07 15:13] #623 closed

[2017-10-07 15:13] zachfeldman commented on #628
Workaround posted, closing issue

[2017-10-07 15:13] #628 closed

[2017-10-07 15:14] zachfeldman commented on #630
Hi there @Abeleda    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 15:14] zachfeldman commented on #633
Hi there @Rovel    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 15:14] zachfeldman commented on #637
Hi there @Hasan-a-ayar    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 15:15] zachfeldman commented on #639
Hi there @philippe3973 and @r0ckkhuya    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue

[2017-10-07 15:15] zachfeldman commented on #645
Great!

[2017-10-07 15:15] #645 closed

[2017-10-07 15:16] zachfeldman commented on #646
Agreed. Closing for now

[2017-10-07 15:16] #646 closed

[2017-10-07 15:17] zachfeldman commented on #647
Hi there @alain-andre    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if i

[2017-10-07 15:19] zachfeldman commented on #655
Hi there @piotr-galas @bslipek   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especia

[2017-10-07 15:19] zachfeldman commented on #657
Hi there @vanburg    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 15:20] zachfeldman commented on #658
Hi there @umekun123    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 15:20] zachfeldman commented on #664
Hi there @balakarthik2011    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially

[2017-10-07 15:21] zachfeldman commented on #666
Hi there @dtelaroli    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 15:21] zachfeldman commented on #667
Closed because no activity in a long time.

[2017-10-07 15:21] #667 closed

[2017-10-07 15:22] zachfeldman commented on #668
We have an open issue relating to this already, I believe. @marcinwierzbicki feel free to reopen if not!

[2017-10-07 15:22] #668 closed

[2017-10-07 15:22] zachfeldman commented on #670
Hi there @jclif   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a b

[2017-10-07 15:23] zachfeldman commented on #675
I don't think we have MongoDB/mongoid support? So I'm going to close this for now.

[2017-10-07 15:23] #675 closed

[2017-10-07 15:23] zachfeldman commented on #676
Closed

[2017-10-07 15:23] #676 closed

[2017-10-07 15:27] zachfeldman commented on #680
Hi there @daggeto    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 15:27] zachfeldman commented on #682
Hi there @franciscoml67    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 15:29] zachfeldman commented on #686
Workaround posted, closing for now

[2017-10-07 15:29] #686 closed

[2017-10-07 15:30] zachfeldman commented on #687
Seems to be an old demo, closing for now.

[2017-10-07 15:30] #687 closed

[2017-10-07 15:30] zachfeldman commented on #688
Workaround posted, closing for now.

[2017-10-07 15:30] #688 closed

[2017-10-07 15:30] zachfeldman commented on #690
Hi there @knagode    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 15:31] zachfeldman commented on #691
Sounds like the current implementation is good for security so....closing for now.

[2017-10-07 15:31] #691 closed

[2017-10-07 15:31] zachfeldman commented on #695
Nice

[2017-10-07 15:31] #695 closed

[2017-10-07 15:32] zachfeldman commented on #701
Hi there @bazalel    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 15:32] zachfeldman commented on #708
Hi there @andreassh    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 15:32] #711 closed

[2017-10-07 15:33] #714 closed

[2017-10-07 15:33] zachfeldman commented on #716
Hi there @Petecass @matthewnatali    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (esp

[2017-10-07 15:34] zachfeldman commented on #717
Hi there @tomascharad , @roseliux   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (espe

[2017-10-07 15:34] zachfeldman commented on #718
Workaround proposed, closing for now

[2017-10-07 15:34] #718 closed

[2017-10-07 15:35] zachfeldman commented on #721
Workarounds posted, closing for now.

[2017-10-07 15:35] #721 closed

[2017-10-07 15:35] zachfeldman commented on #725
Hi there @navkar    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 15:36] zachfeldman commented on #727
Workaround posted, closing for now

[2017-10-07 15:36] #727 closed

[2017-10-07 15:36] zachfeldman commented on #732
Hi there @andreassh    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 15:36] zachfeldman commented on #735
Hi there @andrewferk    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it

[2017-10-07 15:37] zachfeldman commented on #736
Hi there @develop-test1    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 15:37] zachfeldman commented on #738
Workaround posted, closing for now.

[2017-10-07 15:37] #738 closed

[2017-10-07 15:37] zachfeldman commented on #739
Hi there @nicolas-besnard    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially

[2017-10-07 17:05] kirykr commented on #15
@ybian, @vs4vijay
[code]
Can we make it compatible with rails 5.1.x

[2017-10-07 17:08] zachfeldman commented on #740
Workaround posted, so closing for now. I do agree though that a more official way to login through multiple providers would be nice!

[2017-10-07 17:08] #740 closed

[2017-10-07 17:09] zachfeldman commented on #742
Workaround posted here, closing for now.

[2017-10-07 17:09] #742 closed

[2017-10-07 17:10] zachfeldman commented on #745
@lynndylanhurley this seems like a fairly simple one to close if we have your blessing for the above fix to the README? I can update it if so.

[2017-10-07 17:15] zachfeldman commented on #748
Hi there @abonec ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a bu

[2017-10-07 17:15] zachfeldman commented on #752
Hi there @deepushajia    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if i

[2017-10-07 17:15] zachfeldman commented on #753
Workaround posted, closing this for now

[2017-10-07 17:15] #753 closed

[2017-10-07 17:16] zachfeldman commented on #754
What @stephencarr said

[2017-10-07 17:16] #754 closed

[2017-10-07 17:16] zachfeldman commented on #756
@nicolas-besnard I think that's a pretty good idea. @lynndylanhurley what do you think?

[2017-10-07 17:18] zachfeldman commented on #758
Workaround posted, closing for now

[2017-10-07 17:18] #758 closed

[2017-10-07 17:18] zachfeldman commented on #759
Possible solution posted, closing for now

[2017-10-07 17:18] #759 closed

[2017-10-07 17:19] zachfeldman commented on #760
Possible solutions posted (Thanks @merqlove ), closing for now.

[2017-10-07 17:19] #760 closed

[2017-10-07 17:19] zachfeldman commented on #763
Possible answer posted by @lovesmall , closing for now

[2017-10-07 17:19] #763 closed

[2017-10-07 17:19] zachfeldman commented on #766
Hi there @henrikej    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 17:20] zachfeldman commented on #768
@lukeipanda the mystery of why this wasn't closed shall haunt me

[2017-10-07 17:20] #768 closed

[2017-10-07 17:20] zachfeldman commented on #769
Hi there @jgoodall628 , @BrahimDahmani    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue

[2017-10-07 17:20] zachfeldman commented on #770
Hi there @VladFarion    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it

[2017-10-07 17:21] zachfeldman commented on #772
Maybe offload this to a background job, and show the status using subsequent requests? Since ther hasn't been a lot of activity on this, closing for now.

[2017-10-07 17:21] #772 closed

[2017-10-07 17:22] zachfeldman commented on #773
Possible answer posted by @lovesmall (thanks!) closing for now

[2017-10-07 17:22] #773 closed

[2017-10-07 17:22] zachfeldman commented on #774
Hi there @arthurbryant    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 17:23] zachfeldman commented on #777
Possible workaround posted by @etagwerker (thanks!) Closing for now.

[2017-10-07 17:23] #777 closed

[2017-10-07 17:23] zachfeldman commented on #778
Old issue with no comments, going to close for now. @Kedarnag13 feel free to reopen if it's still a problem.

[2017-10-07 17:23] #778 closed

[2017-10-07 17:25] zachfeldman commented on #780
Solution posted there (#600)

[2017-10-07 17:25] #780 closed

[2017-10-07 17:25] zachfeldman commented on #781
Workaround posted, closing for now

[2017-10-07 17:25] #781 closed

[2017-10-07 17:25] zachfeldman commented on #783
Workaround posted, closing for now.

[2017-10-07 17:25] #783 closed

[2017-10-07 17:25] zachfeldman commented on #788
Hi there @rajeevriitm    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if i

[2017-10-07 17:26] zachfeldman commented on #790
Hi there @alex3o0   ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 17:26] zachfeldman commented on #791
Batch request problems are kind of a known issue so I'm going to close this for now.

[2017-10-07 17:26] #791 closed

[2017-10-07 17:27] zachfeldman commented on #792
Waiting on #703 to be merged

[2017-10-07 17:27] zachfeldman commented on #794
Possible fix posted, closing for now.

[2017-10-07 17:27] #794 closed

[2017-10-07 17:35] zachfeldman commented on #795
Closing due to no reply in a year or so

[2017-10-07 17:35] #795 closed

[2017-10-07 17:38] zachfeldman commented on #799
Workaround posted (thank @etagwerker !) closing for now

[2017-10-07 17:38] #799 closed

[2017-10-07 17:38] zachfeldman commented on #801
Hi there @Quintasan    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 17:40] zachfeldman commented on #802
Possible solution posted (thanks @rubyconvict ), closing for now.

[2017-10-07 17:40] #802 closed

[2017-10-07 17:41] zachfeldman commented on #804
Looks to still be a problem...leaving open.

[2017-10-07 17:44] zachfeldman commented on #809
There's no encryption of the client id, token, etc. It is associated with a specific user. If you were concerned about these being intercepted along the way, you could build in an encryption method in your controller overrides.

[2017-10-07 17:44] #809 closed

[2017-10-07 17:45] zachfeldman commented on #812
Seems like the other issue has a fix, so closing this for now.

[2017-10-07 17:45] #812 closed

[2017-10-07 17:46] zachfeldman commented on #813
@lynndylanhurley seems that merging #703 would allow us to close several issues :)

[2017-10-07 17:48] zachfeldman commented on #818
@ValentinTrinque I read your work above. I like this idea! I think it would allow us to gradually introduce JSON API and any other desired adaptors. Feel free to do some work if this is still relevant to you. Otherwise you can also feel free to close this issue.

[2017-10-07 17:49] zachfeldman commented on #820
Hi there @noopurj    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 17:49] zachfeldman commented on #821
Hi there @JohnMerlino2    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 17:50] zachfeldman commented on #822
Thanks @stephanebruckert for the solution! Closing this for now

[2017-10-07 17:50] #822 closed

[2017-10-07 17:51] zachfeldman commented on #823
Possible workaround posted. Closing for now

[2017-10-07 17:51] #823 closed

[2017-10-07 17:52] zachfeldman commented on #825
Closing this out due to lack of activity.

@marothstein you could super into any of the overridden controllers to adjust the default value!

[2017-10-07 17:52] #825 closed

[2017-10-07 17:53] zachfeldman commented on #827
@91sticker try super-ing into the methods in the overrides controllers to see why the resource_class isn't being found. Please reopen if you're still having an issue.

[2017-10-07 17:53] #827 closed

[2017-10-07 17:53] #828 closed

[2017-10-07 17:55] zachfeldman commented on #829
Seems like this was resolved according to @91sticker ...

might be a problem with tokens being generated or not being generated. Feel free to reopen if it's still an issue.

[2017-10-07 17:55] #829 closed

[2017-10-07 17:55] zachfeldman commented on #830
Seems like this has been solved/worked around, closing for now.

[2017-10-07 17:55] #830 closed

[2017-10-07 17:56] zachfeldman commented on #832
@arsduo we'd love your PR! Feel free to submit.

[2017-10-07 17:56] zachfeldman commented on #832
...otherwise we'll close this out in 7 days

[2017-10-07 17:56] zachfeldman commented on #834
Hi there @ChrisCPO    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 17:56] zachfeldman commented on #835
Hi there @hudadiaz  ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 17:57] zachfeldman commented on #836
Closing due to lack of more information

[2017-10-07 17:57] #836 closed

[2017-10-07 17:57] zachfeldman commented on #837
Not enough information to solve this issue. Feel free to reopen with more specifics if it's still a problem.

[2017-10-07 17:57] #837 closed

[2017-10-07 17:58] zachfeldman commented on #838
@frodrigueza have you tried supering into the parent method and looking into if the resource_class is being found or not?

Closing for now, feel free to reopen if still an issue.

[2017-10-07 17:58] #838 closed

[2017-10-07 18:00] zachfeldman commented on #839
Seems like we have an explanation here and also a lack of recent activity. Closing out for now.

[2017-10-07 18:00] #839 closed

[2017-10-07 18:00] zachfeldman commented on #841
Hi there @dijonkitchen    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 18:01] zachfeldman commented on #844
@patrickoramah would you like to take a stab at contributing one, and post any issues you have here? I think it's a great idea to add Vue implementation instructions, but this is a volunteer-run project.

[2017-10-07 18:01] zachfeldman commented on #846
No discussion since March, closing for now. Feel free to reopen if this interests you!

[2017-10-07 18:01] #846 closed

[2017-10-07 18:02] zachfeldman commented on #850
Hi there @ruanpetterson  ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if i

[2017-10-07 18:02] zachfeldman commented on #853
Not nearly enough information to solve this one. Feel free to reopen using our issue template if you're still having a problem.

[2017-10-07 18:02] #853 closed

[2017-10-07 18:03] zachfeldman commented on #853
Closing due to lack of information, feel free to reopen if it's still a problem following our [Issue Template](https://github.com/lynndylanhurley/devise_token_auth/blob/master/.github/ISSUE_TEMPLATE.md)

[2017-10-07 18:04] zachfeldman commented on #854
Probably @stratigos . Let us know how that went! Closing this for now though.

[2017-10-07 18:04] #854 closed

[2017-10-07 18:04] zachfeldman commented on #857
Hi there @mahi-wal    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 18:05] zachfeldman commented on #861
closing in favor of #702

[2017-10-07 18:05] #861 closed

[2017-10-07 18:05] zachfeldman commented on #862
Closing in favor of #702

[2017-10-07 18:05] #862 closed

[2017-10-07 18:06] zachfeldman commented on #868
@joshfester very good point. I'm going to leave this one open...I will try to come back and explain more when I come back from my issue audit!

[2017-10-07 18:06] zachfeldman commented on #870
Hi there @mithom    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 18:08] zachfeldman commented on #871
It's true. We need to fix these.

[2017-10-07 18:08] zachfeldman commented on #873
Hi there @hoggworks    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it'

[2017-10-07 18:09] zachfeldman commented on #879
Hi there @tooppoo    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 18:09] zachfeldman commented on #880
Yup, you could super into the endpoint that returns user data and override what is returned normally. Feel free to reopen if that is unclear.

[2017-10-07 18:09] #880 closed

[2017-10-07 18:10] zachfeldman commented on #881
We have a PR open to fix batching issues...hopefully it will be merged soon. Closing this for now.

[2017-10-07 18:10] #881 closed

[2017-10-07 18:10] zachfeldman commented on #884
@edwardmp @jgoodall628 we'd love your pull request to fix this up :) What do you think?

[2017-10-07 18:11] zachfeldman commented on #885
Valid point. I agree that this should probably be done....there may even be an open PR for it. I will check.

[2017-10-07 18:11] zachfeldman commented on #887
Hi there @iamameme    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 18:11] zachfeldman commented on #888
Workaround posted, closing for now.

[2017-10-07 18:11] #888 closed

[2017-10-07 18:12] zachfeldman commented on #890
Workaround posted, closing for now

[2017-10-07 18:12] #890 closed

[2017-10-07 18:13] zachfeldman commented on #896
I suppose we could add an edit action, I don't see why not. @trepidity or @nicholasshirley feel free to reopen this if you'd like to work on it!

[2017-10-07 18:13] #896 closed

[2017-10-07 18:13] zachfeldman commented on #898
Workaround posted, closing for now. @micred if your last comment is still an issue please reopen or open a new issue!

[2017-10-07 18:13] #898 closed

[2017-10-07 18:14] zachfeldman commented on #899
Thanks @nicholasshirley ! Closing this issue for now.

[2017-10-07 18:14] #899 closed

[2017-10-07 18:14] zachfeldman commented on #904
Workaround posted, so closing this one for now.

[2017-10-07 18:14] #904 closed

[2017-10-07 18:15] arcreative commented on #832
...but he didn’t break it ;-)  This is a pretty big issue, and a hard one to track down, at that...

[2017-10-07 18:16] zachfeldman commented on #906
Hi @stephanebruckert , we're now more actively maintaining this! Someone else posted an interesting idea for how to get this done without it being super disturbing that was interesting:
https://github.com/lynndylanhurley/devise_token_auth/issues/818

Maybe you want to work with them on this a bit?

[2017-10-07 18:16] zachfeldman commented on #907
Sadly going to close this for now. Hopefully we can meet your needs better in the future!

[2017-10-07 18:16] #907 closed

[2017-10-07 18:17] zachfeldman commented on #908
@gundogantekant thank you for your workaround! Closing for now.

[2017-10-07 18:17] #908 closed

[2017-10-07 18:17] zachfeldman commented on #912
@moeabdol I agree. How would you feel about submitting a pull request to take care of this? Going to tag this close-in-7-days in case you've moved on but we'd be game!

[2017-10-07 18:19] zachfeldman commented on #832
@arcreative this is a volunteer-run project, so if something needs to get done, it's on people that use this gem to implement it. That's why I asked if he could write a PR. You can also feel free to submit one if you'd like! We're going to try to much more actively monitor open pull requests and prioritize issues for the community to take on. I'm also going to try to write some code in addition to

[2017-10-07 18:19] zachfeldman commented on #919
Hi there @rddm2bb    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 18:24] zachfeldman commented on #920
@nicholasshirley confirmation tokens do typically expire at some point. Take a look at this:
https://github.com/plataformatec/devise/blob/master/lib/devise/models/confirmable.rb

You're going to probably need to regenerate the confirmation token to be truly sure that the user will be able to re-confirm. I would do this with a new endpoint rather than hijacking create too, I don't see why it should

[2017-10-07 18:24] #920 closed

[2017-10-07 18:24] zachfeldman commented on #923
@ZhanZero glad you were able to get to the bottom of this! Closing for now.

[2017-10-07 18:24] #923 closed

[2017-10-07 18:25] zachfeldman commented on #924
Possible workaround posted, closing for now.

[2017-10-07 18:25] #924 closed

[2017-10-07 18:25] zachfeldman commented on #927
Solution posted! Will close this in 7 days if no activity.

[2017-10-07 18:26] zachfeldman commented on #928
@ricardohonorio have you tried overriding the normal routes in the correct overridescontroller in order to send back a custom response?

Closing this in 7 days if we don't hear back from ya.

[2017-10-07 18:29] zachfeldman commented on #929
@mithom have you tried just overriding the entire action on the controller action in question?

[2017-10-07 18:29] zachfeldman commented on #930
Possible workaround has been supplied, going to close this one our for now.

[2017-10-07 18:29] #930 closed

[2017-10-07 18:31] zachfeldman commented on #931
Hi there @abeltje1    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 18:32] zachfeldman commented on #932
Hey @lorenzsell , could you possible setup a test repo somewhere that replicates this behavior? That would make it much easier for others to debug! Otherwise we'll close this in 7 days if we don't hear from ya - we're trying to clean up the repo (if you need more time, totally let us know, that's not a problem).

[2017-10-07 18:33] zachfeldman commented on #933
Seems as if this strategy worked! @edwardmp feel free to reopen if not.

[2017-10-07 18:33] #933 closed

[2017-10-07 18:34] zachfeldman commented on #935
@ask4ralph can you post a sample repository where we can replicate this in order to help debug it? Otherwise I'm going to close this out in 7 days (we're cleaning up the repo). Thanks!

[2017-10-07 18:35] zachfeldman commented on #938
@heridev well, I think it's kind of bad practice to just not run validations at all on a save action by default as part of a library...

I'm going to close this but reopen if you disagree and have a compelling case or examples to the contrary from other libs.

[2017-10-07 18:35] #938 closed

[2017-10-07 18:36] zachfeldman commented on #940
Hi there @danglv    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 18:37] zachfeldman commented on #942
Closing for now due to a decent suggested answer.

[2017-10-07 18:37] #942 closed

[2017-10-07 18:38] zachfeldman commented on #945
Hi there @newfylox    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's

[2017-10-07 18:38] #946 closed

[2017-10-07 18:38] zachfeldman commented on #947
Potential solution posted. @jraczak feel free to reopen if it doesn't work.

[2017-10-07 18:38] #947 closed

[2017-10-07 18:38] zachfeldman commented on #950
Hi there @Uysim    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if it's a

[2017-10-07 18:39] zachfeldman commented on #953
I don't think it will automatically work @anklos , I think you have to override some of the create user methods. Feel free to reopen if you need help with that.

[2017-10-07 18:39] #953 closed

[2017-10-07 18:40] zachfeldman commented on #959
@ethagnawl I think that's probably a wise idea? Perhaps a PR is in order!

[2017-10-07 18:42] zachfeldman commented on #960
@peggles2 just providing an email to sign_in isn't going to sign in your user. You'll need more than that to get this to work, just an email isn't enough to login a user unfortunately.

[2017-10-07 18:42] zachfeldman commented on #961
Hi there @aristeuroriz    ,

In an effort to cleanup this project and prioritize a bit, we're marking issues that haven't had any activity in a while with a "close-in-7-days" label. If we don't hear from you in about a week, we'll be closing this issue. Obviously feel free to re-open it at any time if it's the right time or this was done in error!

If you are still having the issue (especially if

[2017-10-07 18:44] zachfeldman commented on #963
Hi @fastboyz , yeah, you could just add another column to your users table called, "role". Or you could use something like cancancan (google it). Feel free to reopen with more questions and I can try to answer them, but this issue tracker is really for problems with the gem and not as much for guidance. You may want to try Stack Overflow for that.

[2017-10-07 18:44] #963 closed

[2017-10-07 18:45] brycesenz commented on #927
@zachfeldman - truthfully, I think that the right way to close this isn't just to have a hack in this thread, but to have an actual `UnlocksController` in this project.  Just my two cents.

[2017-10-07 18:46] stephanebruckert commented on #906
I think this would be great to have, unfortunately my implementation had to be made without JSONAPI and I won't have time come back on it. You can close it for now but hopefully someone will want to re-open it!

[2017-10-07 18:48] zachfeldman commented on #927
@brycesenz I definitely agree! It seems like you've done a lot of the base work above...how would you feel about taking it to the next level and opening a pull request ? :)

[2017-10-07 18:48] zachfeldman commented on #906
We can only hope!

[2017-10-07 18:48] #906 closed

[2017-10-07 18:49] zachfeldman commented on #906
...and you're welcome. We need a standard and this gem has a lot of what Ruby devs need, I want to make it awesome!

[2017-10-07 19:45] chirag7jain commented on #372
I am ok with it

[2017-10-07 19:45] #372 closed

[2017-10-07 21:36] RigoTheCEO commented on #887
+ 1

[2017-10-07 21:36] RigoTheCEO commented on #887
+1

[2017-10-08 02:09] mithom commented on #929
I think i did this to solve the problem (will have to check to be sure), but the fact you cannot customize this error seems a big shortcoming/bug to me, as it is nowhere documented that the missing of post data excludes the render_create_error method.

[2017-10-08 02:12] mithom commented on #870
this problem still exists, but as I limited the the normal devise login to admin only for now, this is no issue for my specific project. I will update the issue with the template in one of the next days

[2017-10-08 13:33] kirykr commented on #373
[code]

[2017-10-09 13:35] Rovel commented on #633
Hi @zachfeldman,  you can close it, thanks

[2017-10-09 13:37] #633 closed

[2017-10-09 15:13] brycesenz commented on #927
@zachfeldman - sorry to leave you hanging.  I'm working on a PR.  The big delay is that I'm more of an RSpec than a Minitest person, so I have to get all of my tests over to that new syntax :/

[2017-10-09 15:33] lorenzsell commented on #932
I think I've figured this out.  I wasn't properly making a call to "auth/sign_out" to delete the session on the server.  Thank you.

[2017-10-09 15:33] #932 closed

[2017-10-09 15:41] zachfeldman commented on #969
If you'd like to review pull requests, I think I'll approve a PR if two people review it and all the tests pass. Tests are preferred with PRs but some are quite minor and affect parts of the codebase that are already tested. See the easy-to-merge label on pull requests for issues that probably require minimal review.

There are also open issues that are open to discussion/analysis if you have the

[2017-10-09 15:43] lynndylanhurley commented on #969
Thanks @zachfeldman!!

[2017-10-09 15:50] #702 closed

[2017-10-09 15:50] zachfeldman commented on #792
#703 has been merged! Try pointing to master to try it out. Closing this for now but feel free to reopen if this didn't fix it.

[2017-10-09 15:50] #792 closed

[2017-10-09 15:51] zachfeldman commented on #813
#703 has been merged! Try pointing to master to try it out. Closing this for now but feel free to reopen if this didn't fix it.

[2017-10-09 15:51] #813 closed

[2017-10-09 15:52] zachfeldman commented on #887
@RigoTheCEO would you prefer we keep this issue open?

[2017-10-09 15:53] zachfeldman commented on #929
@mithom sure, if you have time we'd enjoy a pull request to fix this, possibly an addition to the README or a code fix.

[2017-10-09 15:54] zachfeldman commented on #870
Awesome thanks @mithom ! We'd appreciate more info

[2017-10-09 16:13] zachfeldman commented on #373
Very interesting @kirykr .

Looks like there's an open PR, but it's related to @bonhouth?
https://github.com/lynndylanhurley/devise_token_auth/pull/502

I Tweeted at @bonhouth to see if he'd consider PRing his approach, if it works that well.
https://twitter.com/zachfeldman/status/917422457572773895

[2017-10-09 16:17] zachfeldman commented on #927
That's awesome! Take your time @brycesenz . I will unmark this issue for closing and hope you get back sometime soon.

[2017-10-09 16:18] zachfeldman commented on #932
Ah good to know! Thanks for letting us know how to solve it if someone else has this issue.

[2017-10-09 17:26] MaicolBen commented on #959
I don't know if you can check the user's modules in order to add specific fields in the migration, maybe you can document each module's field [like devise](https://github.com/plataformatec/devise/blob/88724e10adaf9ffd1d8dbfbaadda2b9d40de756a/lib/generators/active_record/devise_generator.rb)

[2017-10-09 20:28] dijonkitchen commented on #841
@zachfeldman it's still relevant since unless the project plans to support Postgres <9.4.

[2017-10-09 20:38] zachfeldman commented on #841
@dijonkitchen interesting. Do you want to submit a pull request perhaps to rectify it?

[2017-10-09 23:59] zachfeldman opened #972 "Cut a release"
We've merged a bunch of changes so sometime soon we should cut a new release.

[2017-10-10 00:00] lynndylanhurley commented on #972
I'll pull down the latest and test with an actual client, then push out a beta release by the end of this week.

[2017-10-10 00:10] zachfeldman commented on #972
Good plan!

[2017-10-10 01:10] MaicolBen commented on #969
Thanks @zachfeldman! great work reviewing all the PRs/Issues. This isn't the place but we should be adding Code Climate to the PRs so we can improve the code quality of this project 🙂

[2017-10-10 02:13] lynndylanhurley commented on #969
@MaicolBen I did enable this after we spoke. Is this all or did I miss something?

![screen shot 2017-10-09 at 9 10 02 pm](https://user-images.githubusercontent.com/468037/31366420-63d570de-ad36-11e7-89d4-d940699db5d4.png)

[2017-10-10 07:38] romdim commented on #965
It's hosted on Google Cloud, in a container, so I guess it is proxied, yes..

[2017-10-10 14:31] MaicolBen commented on #969
Weird, it didn't appear in the last PR. Don't worry, I will let you know if in the future is still without showing up in the PRs

[2017-10-10 14:46] vanessasoutoc commented on #121
Great. It's work for me!!! Thanks

[2017-10-10 23:50] mattfordham opened #974 "How to customize Omniauth payload"
Using "overrides" I am successfully customizing the data passed back to the front-end overriding methods such as `render_validate_token_success` and `render_create_success`, as described in the docs. That said, I have not been able to find any information on doing the same in OmniauthCallbacksController.

I do not need a simple `.to_json` representation of User model, and need to add additional da

[2017-10-11 01:06] zachfeldman commented on #974
Hi @mattfordham !

Have you tried just overriding the methods in the omniauthcallbackscontroller, and calling code before or after `super` to achieve what you're trying to do?

[2017-10-11 02:05] #927 closed

[2017-10-11 02:26] RigoTheCEO commented on #887
Yes. We should be able to decide which application class this gem descends from. This could be helpful in many ways, especially when using the standard Devise gem with this one.

[2017-10-11 02:29] mattfordham commented on #974
Yes, and I got that working. Just wanted to make sure there wasn't a "hook" like `render_create_success`. It seems not. Thanks!

[2017-10-11 02:29] #974 closed

[2017-10-11 02:29] zachfeldman commented on #887
Awesome! @RigoTheCEO can you submit a pull request to that effect if you feel this way? I'd be glad to review.

[2017-10-11 02:30] zachfeldman commented on #974
Glad to hear it's working

[2017-10-11 15:30] MaicolBen commented on #972
I'm testing master as well with several projects that uses it (except Omniauth that we don't use it), for now I only found an issue #975

[2017-10-11 23:05] pradeekyahvi commented on #961
@aristeuroriz  can you tell when you are getting the error, in response?

[2017-10-12 14:53] lsarni commented on #47
I got it working based on @wkoffel answer but without subdomains (a great thing if you are using Heroku without a custom domain):

**routes.rb**
[code]

**app/controllers/application_controller.rb**
[code]

**app/controllers/api/api_controller.rb**
[code]
And all of my api controllers (except the ones from Devise) do:
`class Api::V1::MenusController < Api::ApiController`

[2017-10-12 15:19] ethagnawl opened #976 "Fix Warnings in Test Suite Output"
While running the test suite (using Ruby 2.2.5 and 2.4.0) there are hundreds/thousands of lines worth of warnings output.

Some examples:

scape is obsolete

d

d

_code_from_signed_request_in_cookie not initialized

They distract from the task at hand and, where possible, should be addressed.

![screenshot 2017-10-12 11 18 40](https://user-images.githubusercontent.com/289949/31503981-20afbbce-af3

[2017-10-12 15:25] zachfeldman commented on #976
@ethagnawl agreed, this is not helping when running tests. Would you have time to put together a PR that addresses this, perhaps? Thanks for bringing this to our attention!

[2017-10-12 15:34] ethagnawl commented on #976
@zachfeldman Sure. I can start chipping away at the infractions.

[2017-10-12 15:43] zachfeldman commented on #976
Urock!

[2017-10-12 20:04] MaicolBen commented on #945
But how do we know your api base controller? Maybe we can generate one. But I think is better to use concerns and add the concern to the devise toke auth controllers that you use.

What do you think @lynndylanhurley ?

[2017-10-13 02:06] MaicolBen commented on #940
@danglv You can override `email_changed?`. Do you want to change the default behavior? I am not sure if not sending an email is the common behavior

[2017-10-13 02:09] MaicolBen commented on #935
Closing as it's a duplicate of #51 and #359

[2017-10-13 02:09] #935 closed

[2017-10-13 02:12] MaicolBen commented on #912
Removing label, this seems a probable issue.

[2017-10-13 04:05] lynndylanhurley commented on #945
We can't inherit from `ApplicationController` - it will cause a ton of problems. For example, some projects define multiple `ApplicationControllers` and some don't use any at all. And I don't think there's a way to inherit from a dynamic class in ruby, so we can't make the base class an initializer setting.

@newfylox - this is a pain but I think your best bet is to:
1. Factor your shared methods

[2017-10-13 08:40] maysam commented on #835
@hudadiaz I think this happens when you override the user as_json method

[2017-10-13 19:48] lynndylanhurley commented on #976
I'm working on this now. Some of these warnings are legit, but it looks like a lot of them are coming from outdated test deps. I'll post a PR in a bit.

[2017-10-13 21:05] zachfeldman commented on #976
Thanks @lynndylanhurley !

[2017-10-13 23:11] #61 closed

[2017-10-13 23:11] #109 closed

[2017-10-13 23:11] #122 closed

[2017-10-13 23:11] #131 closed

[2017-10-14 00:38] anklos opened #980 "access token always expires in one minute"
**Gem Version**: 0.1.42
**Rails Version**: 5.1.3

**Request**:
`curl -X POST localhost:3000/auth/sign_in -d '{ "email": "xxxx@mailinator.com", "password": "12345678" }' -H 'Content-Type: application/json' -v`

**Response**:
[code]

I use the access-token, client and expiry time in following requests for authentication purpose. However the lifetime of the token can only exist for about one minute,

[2017-10-14 06:00] anklos commented on #980
find that change `change_headers_on_each_request` config to false will stop refreshing token every time.

what confused me was that why i could get valid response by sending several requests with the same token in a short period. If header change on each request, it should return error on the second request.

[2017-10-14 14:28] zachfeldman commented on #980
Yeah @anklos I also found this confusing when I first used this gem. Ended up turning off that option as well. I think we probably need to update the clients, is my suspicion. Are you using jtoker or similar?

[2017-10-14 14:35] #134 closed

[2017-10-14 14:35] #151 closed

[2017-10-14 14:35] #153 closed

[2017-10-14 14:36] zachfeldman commented on #155
Let's see what @MaicolBen and/or @lynndylanhurley think!

[2017-10-14 14:36] zachfeldman commented on #155
I don't have an objection to it.

[2017-10-14 14:36] #157 closed

[2017-10-14 14:36] #163 closed

[2017-10-14 14:36] #164 closed

[2017-10-14 14:36] #168 closed

[2017-10-14 14:36] #178 closed

[2017-10-14 14:36] #180 closed

[2017-10-14 14:36] #185 closed

[2017-10-14 14:36] #188 closed

[2017-10-14 14:36] #192 closed

[2017-10-14 14:36] #194 closed

[2017-10-14 14:37] #196 closed

[2017-10-14 14:37] #199 closed

[2017-10-14 14:37] #211 closed

[2017-10-14 14:37] #212 closed

[2017-10-14 14:37] #215 closed

[2017-10-14 14:37] #219 closed

[2017-10-14 14:37] #222 closed

[2017-10-14 14:37] #227 closed

[2017-10-14 14:37] #228 closed

[2017-10-14 14:37] #244 closed

[2017-10-14 14:37] #263 closed

[2017-10-14 14:37] #264 closed

[2017-10-14 14:37] #284 closed

[2017-10-14 14:38] #290 closed

[2017-10-14 14:38] #292 closed

[2017-10-14 14:38] #298 closed

[2017-10-14 14:38] #313 closed

[2017-10-14 14:38] #332 closed

[2017-10-14 14:38] #334 closed

[2017-10-14 14:38] #342 closed

[2017-10-14 14:39] #345 closed

[2017-10-14 14:39] #353 closed

[2017-10-14 14:39] #359 closed

[2017-10-14 14:39] #391 closed

[2017-10-14 14:39] #392 closed

[2017-10-14 14:39] #396 closed

[2017-10-14 14:39] #400 closed

[2017-10-14 14:39] #419 closed

[2017-10-14 14:39] #437 closed

[2017-10-14 14:39] #448 closed

[2017-10-14 14:39] #449 closed

[2017-10-14 14:39] #452 closed

[2017-10-14 14:39] #459 closed

[2017-10-14 14:39] #460 closed

[2017-10-14 14:39] #464 closed

[2017-10-14 14:39] #471 closed

[2017-10-14 14:39] #475 closed

[2017-10-14 14:40] #477 closed

[2017-10-14 14:40] #479 closed

[2017-10-14 14:40] #487 closed

[2017-10-14 14:40] #489 closed

[2017-10-14 14:40] #515 closed

[2017-10-14 14:40] #522 closed

[2017-10-14 14:40] #529 closed

[2017-10-14 14:40] #545 closed

[2017-10-14 14:41] #546 closed

[2017-10-14 14:41] #552 closed

[2017-10-14 14:41] #553 closed

[2017-10-14 14:41] #555 closed

[2017-10-14 14:41] #556 closed

[2017-10-14 14:41] #570 closed

[2017-10-14 14:41] #572 closed

[2017-10-14 14:41] #583 closed

[2017-10-14 14:41] #586 closed

[2017-10-14 14:41] #594 closed

[2017-10-14 14:41] #602 closed

[2017-10-14 14:41] #605 closed

[2017-10-14 14:42] #609 closed

[2017-10-14 14:42] #610 closed

[2017-10-14 14:42] #617 closed

[2017-10-14 14:42] #622 closed

[2017-10-14 14:42] #630 closed

[2017-10-14 14:42] #637 closed

[2017-10-14 14:43] #639 closed

[2017-10-14 14:43] #647 closed

[2017-10-14 14:43] #655 closed

[2017-10-14 14:43] #657 closed

[2017-10-14 14:43] #658 closed

[2017-10-14 14:43] #664 closed

[2017-10-14 14:44] #666 closed

[2017-10-14 14:44] #670 closed

[2017-10-14 14:44] #680 closed

[2017-10-14 14:44] #682 closed

[2017-10-14 14:44] #690 closed

[2017-10-14 14:44] #701 closed

[2017-10-14 14:44] #708 closed

[2017-10-14 14:44] #716 closed

[2017-10-14 14:44] #717 closed

[2017-10-14 14:44] #725 closed

[2017-10-14 14:44] #732 closed

[2017-10-14 14:44] #735 closed

[2017-10-14 14:44] #736 closed

[2017-10-14 14:44] #739 closed

[2017-10-14 14:44] #748 closed

[2017-10-14 14:45] #752 closed

[2017-10-14 14:45] #766 closed

[2017-10-14 14:45] #769 closed

[2017-10-14 14:45] #770 closed

[2017-10-14 14:46] #774 closed

[2017-10-14 14:46] #788 closed

[2017-10-14 14:46] #790 closed

[2017-10-14 14:47] #801 closed

[2017-10-14 14:47] #820 closed

[2017-10-14 14:47] #821 closed

[2017-10-14 14:48] zachfeldman commented on #832
....actually going to leave this open because there was at least a comment. @arcreative we await your PR! :)

[2017-10-14 14:48] #834 closed

[2017-10-14 14:49] #850 closed

[2017-10-14 14:49] #857 closed

[2017-10-14 14:49] #873 closed

[2017-10-14 14:49] #879 closed

[2017-10-14 14:49] #919 closed

[2017-10-14 14:50] #928 closed

[2017-10-14 14:50] #931 closed

[2017-10-14 14:50] #940 closed

[2017-10-14 14:51] #945 closed

[2017-10-14 14:51] #950 closed

[2017-10-14 14:52] #835 closed

[2017-10-14 17:53] lynndylanhurley commented on #155
In Devise authenticate_#{mapping}! method accepts 1 argument opts. As devise_token_auth 's intention is to override this method hence the signature should be same.

@salmanasiddiqui please make a PR and we will review ASAP. Thanks!

[2017-10-14 18:04] lynndylanhurley commented on #215
@nicolas-besnard I think I used Omnigraffle

[2017-10-14 23:33] anklos commented on #980
@zachfeldman nope, i only write API. issue reported by frontend dev, they use react/react-native.

[2017-10-15 14:18] zachfeldman commented on #980
Ok, @anklos could you ask them which approach they're using to send/receive this information - are they using an abstraction, or are they just writing their own approach from scratch? That would be helpful, to know if there's an issue with one of our client libraries.

[2017-10-15 19:54] Danilo-Araujo-Silva commented on #871
Its not working with e-mail too.

[2017-10-15 20:00] Danilo-Araujo-Silva opened #982 "Sign in, Sign out not working"
rails: 5.1.4
ruby: 2.4.0
devise: 4.3.0
devise_auth_token: 0.1.42

I'm using Postman to do the tests.
Following the instructions and I can put the things to work. But unfortunately, not so properly.

When the sign in is done, I can receive the user informations, but no header with the `client` and the `access-token` was returned to me.

So I then tried to use the sign out. I inspected the token and

[2017-10-15 22:43] anklos commented on #980
@zachfeldman they just write their own approach from scratch.

also as described in the ticket, I was just using `curl` to reproduce the issue.

[2017-10-15 22:55] lynndylanhurley commented on #980
@anklos the default behavior is to use a different token for each request. By default there is a buffer of about 1 minute in which the same token can be used to account for concurrent / parallel requests. The client is expected to keep track of the most recent token.

See [this section](https://github.com/lynndylanhurley/devise_token_auth#about-token-management) of the readme for more info.

[2017-10-15 22:55] #980 closed

[2017-10-15 23:00] lynndylanhurley commented on #871
I think the demo db is just full. I'll either upgrade it or clean it out next week.

[2017-10-15 23:06] lynndylanhurley commented on #982
Are you getting the value for `token` from the db? Because that won't work. We don't store tokens in plain-text for the same reason that passwords shouldn't be stored in plain text. See [here](https://github.com/codahale/bcrypt-ruby#how-to-use-bcrypt-ruby-in-general) for more info on how [bcrypt-ruby](https://github.com/codahale/bcrypt-ruby) works.

[2017-10-17 10:28] Dschee commented on #396
This "close-in-7-days" label really is funny. It should be renamed to "ignore-2-years-until-developer-gives-up-first-then-close-in-7-days".

I'm really happy you are updating stuff in this project @zachfeldman but that reminds me of the even bigger sadness of having no activity by the maintainers for a long time. I really invested quite some time after they gave me their OK that the JSON API stuff

[2017-10-17 11:59] zachfeldman commented on #396
@Dschee I'm really sorry that you feel that way, I mean it. I also have worked on open source projects before where I worked extremely hard on something only to be ignored for a very long time by the maintainers, or never even acknowledged at all.

I stumbled upon this project because my company needed to do token authentication and I personally was also frustrated by the inactivity and lack of a

[2017-10-17 12:43] Dschee commented on #396
Haha, thanks @zachfeldman for the answer! I appreciate it. And the label joke was not directed at you. As I said, I'm happy you're trying to clean things up here, you're doing just the right thing at this point.

I totally understand how these things work and that everything is done on a volunteer basis. I maintain some repositories myself which I don't use any more. But then, I wouldn't ask someo

[2017-10-17 14:29] lynndylanhurley commented on #396
@Dschee - thanks for taking the time to submit a PR.

As @zachfeldman said, we're using the `close-in-7-days` to filter out issues that no one cares about any more. If you still want this merged, please re-open the issue and we'll look into it as soon as we can.

[2017-10-18 13:34] dijonkitchen commented on #841
I proposed this as a question, but it's an easy change. So should `jsonb` be used instead of `json`?

[2017-10-18 13:54] zachfeldman commented on #841
Good point. I just read the accompanying links you posted (sorry for not doing that earlier) and it does seem that jsonb has some clear advantages.

Let's see what @lynndylanhurley thinks?

[2017-10-18 15:31] lynndylanhurley commented on #841
@dijonkitchen what would the advantage be for this gem specifically? Some things to keep in mind:

* The token column does not need to be indexed because we query by the `uid` value.
* The equality stuff isn't relevant because we're doing the comparison using bcrypt.

[2017-10-18 15:50] dtelaroli commented on #666
I did'nt saw this before, but, I give up this plugin because it has a lot of bugs and incompatibilities for me with no help.
Thanks.

[2017-10-18 17:21] MaicolBen commented on #121
Still happening as some folks and I see it, I'll make a PR with the fix suggested here.

[2017-10-18 21:32] johnnagro commented on #982
we also just upgraded to devise 4.3 and suddenly no longer receive the auth headers after sign-in

[2017-10-18 22:00] johnnagro commented on #982
headers also missing, recently upgraded to devise `4.3.0` which seemed to break things...

rails: 4.2.10
ruby: 2.4.0
devise: 4.3.0
devise_auth_token: 0.1.42

[2017-10-19 03:05] lynndylanhurley commented on #982
@johnnagro @Danilo-Araujo-Silva I did find some devise v4.3 issues when testing the other day. Can you try running against master and see if that resolves the issue? We're about to cut a release and I'd like to make sure it's working with the latest devise

[2017-10-19 15:00] johnnagro commented on #982
@lynndylanhurley we will try that right now

[2017-10-19 16:27] johnnagro commented on #982
`set_user_by_token` is called when `current_user` is called during sign-in, probably to serialize the resource (user) object. `set_user_by_token` nils out `@resource` - we have a lead as to why, will update shortly...

[2017-10-19 16:38] johnnagro commented on #982
@lynndylanhurley our issue seems to relate to our use of single table inheritance and the class check, as outlined in the PR we just submitted...

@Danilo-Araujo-Silva are you also using single table inheritance on your main resource object?

[2017-10-20 14:35] #181 closed

[2017-10-20 16:27] jgoodall628 opened #986 "Action Cable and devise token auth"
Does anyone know how to authenticate action cable connections while using devise token auth? Currently have to authorize connections two different types of users as well customers and employees. I can't really find any info.

[2017-10-20 16:28] zachfeldman commented on #986
How about just checking the validity of the users' token based on their UID?

Perhaps I'm misunderstanding how action cable is different from a controller action?

[2017-10-20 18:32] jgoodall628 commented on #986
As far as I know websockets/action cable do not let you specify headers. So we can't get the info like we can in controllers

[2017-10-20 18:41] lynndylanhurley commented on #986
@jgoodall628 you will need to include the latest valid token info (`uid`, `token`, and `client` values) as params to the ActionCable initialization request and then manually check that the token is valid.

For example:

[code]

[2017-10-20 23:03] misham opened #987 "Password Reset: Is it possible to disable returning 404 when user is not found?"
I'm trying not having to re-implement the entire controller functionality and just want to change the behavior a bit.

I don't care if the user is found or not, the response should always be 200.

Is the only solution to just re-implement `POST create` for the passwords controller?

Thank you

[2017-10-21 05:40] misham opened #988 "Password reset is not working if check_current_password_before_update is set"
Summary:

Version: 0.1.42

If `check_current_password_before_update` is set to `:password`, user password cannot be updated.  `render_update_error` is called (https://github.com/lynndylanhurley/devise_token_auth/blob/master/app/controllers/devise_token_auth/passwords_controller.rb#L121)  instead of updating.

I was able to trace the execution to verify that ` @resource.allow_password_change = true

[2017-10-21 15:19] MaicolBen commented on #987
Seems that 404 is the only way to reach `render_create_error`, so maybe you want to override it. In the future, we'll refactor the controller.

[2017-10-21 21:05] misham commented on #987
I'd be interested in submitting a PR around this.  Would it be sufficient to pass another variable to skip the 404 error?  E.g. `POST {pasword: 'somepass', ..., skip_404: true}`

That feels a bit hacky, but not sure what would make more sense here?  Maybe a global config that can be set in the initializer?

[2017-10-21 21:33] MaicolBen commented on #987
That's ugly, I made a PR where you can override `render_not_found_error` in the passwords controller

[2017-10-21 22:00] misham commented on #987
That's great!  Do you know when the next release will land?

[2017-10-23 16:11] AbdullahAli opened #991 "Gem clashing"
Hey, when I use the following gems and version, I get the following error:
[code]

if I update `active_model_serializers` to version `10`, then `devise_token_auth` works.  Looks like `devise_token_auth` is clashing somehow, any idea how to fix without changing the `active_model_serializers`, since it involves big changes to my app

[code]

App backtrace
-------------

Full backtrace
--------------

[2017-10-23 20:15] MaicolBen opened #992 "Improve after action update headers in case change headers is disabled"
In the [after action](https://github.com/lynndylanhurley/devise_token_auth/blob/master/app/controllers/devise_token_auth/concerns/set_user_by_token.rb#L92) when the headers update is disabled, it stores the token that is retrieved by the frontend which must be the same since is checked in the before action, why is that?

The code that I'm talking about is:
[code]

I think we can get rid of that co

[2017-10-23 20:18] ethagnawl opened #993 "Confirmation URL query parameters don't match header counterparts"
I've noticed that the keys used in the query parameters added to my email confirmation mailer's `redirect_url` don't match their header counterparts. (I'm currently using v0.1.42.)

Here's an example:

`http://www.somewhere.com/?account_confirmation_success=true&client_id=xxx&config=default&expiry=yyy&token=zzz&uid=someone@somewhere.com`

I'm writing documentation which will instruct FE devs on ho

[2017-10-23 21:27] lynndylanhurley commented on #992
@MaicolBen do you mean this line?

[code]
That line is checking to see if the user initiated a logout while the current request was processing. That's where the db request is coming from.

Can you think of another way to go about that?

[2017-10-23 21:45] MaicolBen commented on #992
I mean the 2 below (if you get rid of them, the one mentioned is useless):
[code]

You can build the headers without going to the db (that's what `build_auth_header` does)

[2017-10-23 21:51] lynndylanhurley commented on #992
Oh good catch. I forgot that `build_auth_header` writes to the db. We should probably break out the building and saving of the auth header into two separate methods. All we really need here is this part:

[code]

This should just be its own method, and then the saving should happen in its own method that gets called when using the `change_headers_on_each_request` feature. Would that solve this iss

[2017-10-23 21:57] MaicolBen commented on #992
Yeah! I'll make a PR if I have time, thanks

[2017-10-24 14:38] MaicolBen commented on #972
Testing master I found failing some tests in a project because I don't have the new field `allow_password_change`, it was [introduced here](https://github.com/lynndylanhurley/devise_token_auth/pull/981/files#diff-a8896c96c8847a9cc2fe37d3c448849cR14). What do I have to do? Shouldn't it check if recoverable is enabled?

[2017-10-24 14:54] zachfeldman commented on #972
@MaicolBen it probably should check if recoverable is enabled, that's a good point. Can you find a precedent in Devise or our codebase for how to check for a module being enabled?

[2017-10-24 17:08] MaicolBen commented on #972
Yeah, it's possible, I made a PR #995

[2017-10-24 20:47] zachfeldman commented on #993
@ethagnawl that's a good point. I agree that the keys should match everywhere.

I'd be very open to a PR fixing this! Thanks for reporting.

[2017-10-24 20:51] gustavosantiago commented on #166
guys, some response about the problem? i 'm very confused about how a setting a omniauth provider with this gem.

Someone can help me?

[2017-10-24 20:54] zachfeldman commented on #166
Hi @gustavosantiago this is a closed issue. If you are having an issue, please open a new one and follow the issue template. We'll try to help you troubleshoot there - keep in mind that this is a volunteer run project.

[2017-10-24 23:46] ethagnawl commented on #993
@zachfeldman I've made a first pass at this. Please have a look when you get a chance and let me know if you have any feedback.

[2017-10-25 14:55] array42 commented on #599
Unfortunately we do depend upon the old URL-Schema of Angular. We can't just change to HTML5 Routes, so this Workaround does not apply. Pls reopen.

[2017-10-25 17:02] zachfeldman commented on #599
Hi @array42 , I'm glad to reopen if you submit a pull request for your problem.

[2017-10-26 01:56] MaicolBen commented on #976
Thanks for removing some of them! But still there are tons of warnings, the main ones are:
- `lib/devise/models/confirmable.rb:297: warning: instance variable @reconfirmation_required not initialized` (from devise I guess)
- `warning: method redefined;` because a lot of metaprograming, I don't know how to remove them
- `warning: loading in progress, circular require considered harmful` because inc

[2017-10-26 13:50] nicholasshirley commented on #844
Hey @patrickoramah I was able to get this to work by using the docs here and adding this to your `main.js` file (assuming you are using the vue cli generator and add axios). I haven't tested it extensively, but it's working so far.

[code]

@zachfeldman I'd like to take stab at this. What would be most useful? Something like a text walkthrough or clonable repo? I'm still really new at Vue so I dou

[2017-10-26 15:11] zachfeldman commented on #844
@nicholasshirley this is very exciting!

It would be REALLY COOL if we could get a clonable repo that's an implementation of Devise Token Auth for Vue users. We can definitely add this to the docs here too as another implementation when that's said and done.

Totally cool if it's not perfect but a workable start would be great. Would love to wrap our hands around the Vue community as well.

[2017-10-27 07:27] m4-miranda opened #997 "Hardcoded resource.provider in RegistrationsController?"
The resource.provider field in Registrations#create is hardcoded to 'email'. Shouldn't this be obtained from Devise?

I'm trying to get rid of email dependency altogether

[2017-10-27 13:06] zachfeldman commented on #997
Hey @m4-miranda sure, I agree with your logic here. Mind opening a pull request to illustrate your exact changes in mind?

[2017-10-27 13:47] MaicolBen commented on #997
If you make a PR, you can reuse the `provider` method defined in #975

[2017-10-27 14:12] ethagnawl commented on #993
Closed via #996.

[2017-10-27 14:12] #993 closed

[2017-10-27 14:14] ethagnawl commented on #959
Closed via #978.

[2017-10-27 14:14] #959 closed

[2017-10-27 14:27] m4-miranda commented on #997
@MaicolBen It isn't possible to override the concern, is it? I could modify the get_resource method to accept a provider parameter, but the method would have to be declared in each controller

[2017-10-27 14:30] MaicolBen commented on #997
You can override it in your code, and yes, you have to do it in every controller (you can make a concern in your code to avoid repeating)

[2017-10-27 19:11] MaicolBen commented on #997
Closed via #998

[2017-10-27 19:11] #997 closed

[2017-10-28 16:51] MaicolBen commented on #991
0.8.1 has 4 years, if there was the other way around (like we have to update to the last `active_model_serializers` version), we would do it.

So you have 2 options:
- Update the `active_model_serializers` gem.
- Override `is_json_api` and replace the code with the previous version of `ActiveModelSerializers`. You can do a concern in your code and add it to each devise token auth controller.

[2017-10-28 16:51] #991 closed

[2017-10-28 16:55] MaicolBen commented on #982
Seems that the @Danilo-Araujo-Silva issue is different, please reply what @lynndylanhurley asked the first time, otherwise we're closing this in 7 days.

[2017-10-28 19:03] #885 closed

[2017-10-29 21:21] nicholasshirley commented on #939
I had the same issue a couple of days ago. If I remember right though, the log asked me "did you mean `current_api_user` or something similar which made it easy to see what was going. Maybe it doesn't give this helpful tip if your two levels deep in the name space though?

[2017-10-29 21:37] nicholasshirley commented on #988
I just started a new project using 0.1.42 with `config.check_current_password_before_update = :password` without issue. Everything was out of the generator except no confirmable or omniauthable.

[2017-10-29 22:03] #912 closed

[2017-10-30 00:28] jduff commented on #892
I ran into this on the released version of the gem, seems to be fixed on master since #981 was merged though.

[2017-10-30 08:42] nicholasshirley opened #1002 "Not returning headers on error"
I working on a sample project that is using Vue/devise_token_auth/Rails API and I'm noticing that there are certain conditions where it's possible to send invalid data and get an error return which doesn't return headers (though they have been changed in the DB). In each case, the next request will fail because the user is sending old headers.

This is [the repo](https://github.com/nicholasshirley

[2017-10-30 08:44] nicholasshirley commented on #844
Hey @zachfeldman I pushed up a [test repo](https://github.com/nicholasshirley/DTA-Vue-Rails) with this. There's still some more to do, but I'm hitting some errors (#1002) that I'd like to try to resolve before adding the rest of the items on the to-do list.

[2017-10-30 13:06] CostaRico commented on #471
also cant override :(

[2017-10-30 14:08] zachfeldman commented on #471
Hi @CostaRico, this issue is closed. If you're having a similar problem, please open a new issue with more specifics and we can try to look into it.

[2017-10-30 14:09] zachfeldman commented on #1002
Hey @nicholasshirley, looking forward to seeing your Vue integration.

I know a lot of people run Devise Token Auth with change_headers_on_each_request set to false. Are you able to make your integration work with this setup?

Obviously it's not the best long-term solution, but it may get the Vue integration up and running, at least.

[2017-10-30 14:10] zachfeldman commented on #844
Awesome! Let's try to get through #1002 ....

[2017-10-30 14:11] zachfeldman commented on #892
Good to know. We should be cutting a release soon per @lynndylanhurley !

[2017-10-30 14:12] zachfeldman commented on #988
@misham does @nicholasshirley 's workaround/solution work for you?

[2017-10-30 17:38] nicholasshirley commented on #1002
I had another project that we ended up doing this to get it working. Not changing headers on each request would certainly get the error rate down for the Vue example. If the headers don't change on each request then the only issue I could think of would be cases where the user might have a valid token from a previous session (so they would get user information returned for the first `/validate_tok

[2017-10-30 21:59] misham commented on #988
No, but adding some custom code that does the same flow as what's in master fixed it.

Do you have an estimate for when the next version will drop?

[2017-10-30 22:15] zachfeldman commented on #988
I don't, that's up to @lynndylanhurley .

[2017-11-01 13:33] zachfeldman commented on #1002
"If the headers don't change on each request then the only issue I could think of would be cases where the user might have a valid token from a previous session (so they would get user information returned for the first /validate_token request when the component is mounted), but don't get new headers. This will display the app as if they are logged in, but their next action will return 401 so they

[2017-11-02 13:48] nicholasshirley commented on #844
Ok, the sample hits all the routes except for forgot password and there's an issue with logging out (axios doesn't pass headers on delete).

Before I finish the forgot password flow, I have a bit of a theoretical question and a practical one. In the past when I have used devise_token_auth with React, I overrode the passwords controller (and registrations controller) to get rid of the redirect logi

[2017-11-02 14:17] nicholasshirley commented on #1002
For the `/validate_token` endpoint this is what axios is sending:
[code]
headers are saved and sent from local storage each request. The only change is the updated headers. Send it several times (and possibly with enough speed) and the server will update the headers, but fail to send new ones back. I can see in the logs that the token is updated in the DB, but never sent in Chrome's network tab.

[2017-11-02 16:52] kinto-d opened #1003 "Different max_number_of_devices based on devise model"
Is there any practical way to limiting max_number_of_devices based on devise model, for an example, I want to have a User model has only 1 single concurrent devices, but has 3 on Admin model.

Thank you.

[2017-11-02 21:03] nicholasshirley commented on #1002
Well, as so often happens, I think the problem this time was between the keyboard and the chair. The axios interceptors weren't savings new headers on error so of course the next request after any error had stale headers.

Closing. Thanks for the support!

[2017-11-02 21:03] #1002 closed

[2017-11-03 02:14] zachfeldman commented on #1003
Hey @kinto-d , heres where that's governed:
https://github.com/lynndylanhurley/devise_token_auth/blob/master/app/models/devise_token_auth/concerns/user.rb#L213

You could probably override the `build_header` method to achieve this?

[2017-11-03 02:16] zachfeldman commented on #844
I've overridden a lot of the default controllers with my React application so I don't think that it's too bad to do that :). Yeah I agree redirects aren't an awesome solution for an API-based solution like this....

[2017-11-03 13:41] nicholasshirley commented on #988
@misham I hit this as soon as I overrode the passwords controller. How did you end up persisting `allow_password_change`?

[2017-11-03 15:50] misham commented on #988
@nicholasshirley I adopted this solution to my needs: https://github.com/lynndylanhurley/devise_token_auth/issues/604#issuecomment-306018813

Basically, same flow as what's in master, but with slightly different names.  Added a column to the User model and used a similar PasswordsController as described in the linked comment.

[2017-11-03 16:47] JarLowrey commented on #118
Just installed and it occurred after running `rails g devise_token_auth:install User auth`

[2017-11-03 16:52] beauraF commented on #419
Actually, it isn't fixed yet.

[2017-11-03 17:24] zachfeldman commented on #419
@beauraF we closed issues that hadn't had activity in a while and this one hadn't in almost 2 years. Please feel free to submit a pull request if you feel strongly about it!

[2017-11-03 17:25] zachfeldman commented on #118
@JarLowrey what if you try it from the master branch?

[2017-11-03 17:32] JarLowrey commented on #118
I just added the `gem 'omniauth'` to my gemfile and it started working.

[2017-11-03 20:47] JarLowrey opened #1005 "Where should I store token?"
I've got my react/redux front-end SPA successfully sending requests, and my backend API successfully sending back authentication info. In the response header I am receiving `access-token`, `token-type`, `client`, `expiry`, and `uid`. Now, how should I store this data to be visible in the next request?

[This is the best post I've found summarizing the differences between localStorage and cookies.]

[2017-11-03 21:03] zachfeldman commented on #1005
Store it in a cookie. See https://github.com/lynndylanhurley/j-toker for an example

[2017-11-04 12:58] Danilo-Araujo-Silva commented on #982
Hi guys, I think, at least for my use case, we can close this issue. I don't know if it solved at all. But I found a way to use the devise itself but I not working with rails right now too, so probably I will can not test it soon.

[2017-11-04 12:58] #982 closed

[2017-11-06 16:35] Blitzkev commented on #972
While we're waiting for a release to be cut (which would be really great), is there any way to use what's in master on github in a project? Pointing to here in the gemfile still makes it use 0.1.42 code

[2017-11-06 16:45] MaicolBen commented on #972
@Blitzkev You can doing `gem 'devise_token_auth', github: 'lynndylanhurley/devise_token_auth'`

@lynndylanhurley Any ETA in testing and publishing the release? If we are following semver, this should be 0.2.0 because we have some new features merged in master

[2017-11-06 18:07] ethagnawl commented on #972
@Blitzkev The following is working for me:

[code]

[2017-11-06 18:47] newfylox commented on #945
Thank you guys, I understand the problems it may caused and I will deal with that following your advises.

[2017-11-06 23:54] ethagnawl commented on #390
@zachfeldman Would a PR containing [the solution mentioned above](https://github.com/lynndylanhurley/devise_token_auth/issues/390#issuecomment-203063396) (or similar) be considered? It seems like this is a pretty common use case.

[2017-11-06 23:55] zachfeldman commented on #390
@ethagnawl I would certainly be open to it!

[2017-11-06 23:57] zachfeldman commented on #972
Thanks for your patience all and @ethagnawl thanks for the workaround!

[2017-11-06 23:57] lynndylanhurley commented on #390
@ethagnawl please submit a PR for this if you have time.

[2017-11-07 10:37] sushant12 opened #1007 "Omniauth with devise token auth"
I am using google_oauth2. Everything is working fine except that after I log in via the google , the authenticate_api_employee! is nil.

### omniauth_callbacks_controller.rb

[code]
My controllers have this before_action

`before_action :authenticate_api_employee!`

Versions

[code]

So ya, the problem is that I am not being authenticated

[2017-11-07 22:05] stratigos opened #1008 "Reset Password Tokens No Longer Expire"
The Devise configuration for:

[code]
no longer has any effect in DeviseTokenAuth. I believe it has been bypassed by #957. As pointed out in #672, the `DeviseTokenAuth::PasswordsController#edit` was previously not returning an error properly when an expired token was found, which I think is noteworthy given this recently merged PR.

Essentially, the call to `Devise::Models::Recoverable#reset_passw

[2017-11-08 01:09] zachfeldman commented on #1007
Hey @sushant12 , sorry to hear that. What is the authenticate_api_employee! ? All I know from your post is that it's a before action and that it's nil.

[2017-11-08 01:10] zachfeldman commented on #1008
@stratigos good catch if this is really happening. We'd welcome your PR!

[2017-11-08 01:11] sushant12 commented on #1007
@zachfeldman `authenticate_api_employee!` is the same as `authenticate_user!` .

[2017-11-08 01:13] zachfeldman commented on #1007
Ok, and you're saying that it's nil....if it's a before_action I'm not sure what you mean? Do you mean that it's not running? Can you be more descriptive?

[2017-11-08 03:15] sushant12 commented on #1007
@zachfeldman yes it is before_action :) . sorry for the confusion. I am trying to find the solution myself and it is so frustrating

[2017-11-08 09:55] sushant12 commented on #1007
@zachfeldman https://github.com/lynndylanhurley/devise_token_auth/blob/master/lib/devise_token_auth/controllers/helpers.rb#L33

what would happen if the `#{group_name}_signed_in?` is true from the start?

[2017-11-08 11:45] sushant12 commented on #1007
@zachfeldman why is that the omniauth_callbacks_controller.rb do not have this line of code
https://github.com/lynndylanhurley/devise_token_auth/blob/master/app/controllers/devise_token_auth/confirmations_controller.rb#L28

[2017-11-08 15:50] stratigos commented on #1008
Yeah Im going to work on it today/tonight hopefully, if not tomorrow, and am pretty sure it should be easy to restore to the `#update` action.

[2017-11-09 00:27] Blitzkev commented on #969
I really want to make this the gem I use for oauth and token management, but I keep running into small issues - so I guess the best solution is to volunteer to contribute. I'll be submitting pull requests following contribution guidelines soon.

[2017-11-09 00:34] zachfeldman commented on #969
@Blitzkev we want it to be too! And we think it definitely can be. Would love your contributions :)

[2017-11-09 01:45] stratigos commented on #1008
So, I worked on this for a while, and came to the following:

* If this functionality is to be restored in `DeviseTokenAuth::PasswordsController#update`, then adopters will all have to start submitting a reset password token with this request. I dont think its a healthy approach to force such a change.

* The best place for this to happen, for `devise_token_auth`, is in the `DeviseTokenAuth::Passw

[2017-11-09 01:51] stratigos commented on #1008
- nevermind this comment - i mistook some `devise` code using a user attr as a request param... this message will self destruct, sorry for the distraction all :)

[2017-11-09 04:22] #1007 closed

[2017-11-09 04:45] sushant12 opened #1010 "Cant login after signing in via oauth"
I have a rails-api app and I added the `gem 'omniauth-google-oauth2'` .  Everything is working fine up to showing an oauth screen and then clicking next to signup and the user is also saved into the db as well. But after that, I get an err saying 'Either signup or log in'. This is happening because I have a `before_action :authenticate_api_employee!` on my controllers.

I did some research and fou

[2017-11-09 09:04] Puzo opened #1011 "Namespaces and overriding default mailer templates"
Hi,

I am having a problem with namespaces and overriding default mailer templates. I use `devise` gem and `devise_token_auth`.

**config/routes.rb**
[code]

When I put `mailers` folder into path: `app/views/api/v1/mailers` it won't work. Always takes default mailer templates from folder: `app/views/devise/mailer`

Any ideas?

[2017-11-09 09:12] #1010 closed

[2017-11-09 09:47] Puzo commented on #1011
Found it. The path should be:

`app/views/api_v1/starfish_users/mailers`

Can be marked as closed.

[2017-11-09 09:56] sushant12 opened #1012 "TypeError (can't dump hash with default proc)"
I generated a access token after logging in from omniauth. I passed those creds in headers to the api and got this issue.

[code]

Any idea how to fix this?

[2017-11-09 09:56] dks17 commented on #1008
@stratigos, hello.

1. I try to use devise_token_auth with Mongoid gem. To be exact, I don't want to use ODM and ORM simultaneously but only one Mongoid ODM.
2. Look at this, when you create new object:

with Mongoid
[code]
and with MySQL
[code]

Mongoid every time return new object with existed id property, not nil.

3. To achieve this #15 devise_token_auth should escape all checking conditions l

[2017-11-09 10:25] dks17 commented on #1008
I have already answered.

2017-11-09 4:51 GMT+03:00 Todd <notifications@github.com>:

[2017-11-09 13:57] #1011 closed

[2017-11-09 14:03] zachfeldman commented on #1012
@sushant12 this looks like a problem with the cookies middleware? I don't see devise token auth anywhere in the stack trace.

[2017-11-09 14:04] zachfeldman commented on #1010
@sushant12 are you going to explain how you fixed your problem in case anyone else has it? That would be helpful!

[2017-11-09 15:35] stratigos commented on #1008
@dks17 Thanks for adding some info. I can see how you reached this problem, and what actions you chose to take to alleviate it. I can see how you arrived at your solution as well.

The problem, as I see it, is that this breaks functionality for anyone that does not have your use case. Additionally, even for your use case, it also breaks the ability to expire a reset password token. Its unfortunate

[2017-11-09 16:15] zachfeldman commented on #1008
@stratigos we definitely aren't trying to support Mongo as our primary DB...we had an open pull request for Mongo support but it died a while ago. I tried to contact someone who had a fork that supported Mongo. Maybe it was @dks17 ?

I'm down to revert changes if you want to submit a PR, some additional test coverage would be helpful too...

[2017-11-09 17:48] karlingen commented on #701
https://github.com/lynndylanhurley/devise_token_auth/wiki/Setup-migrations-for-an-existing-User-table

[2017-11-10 03:29] sushant12 commented on #1012
@zachfeldman  Any tips on how i can debug this?

[2017-11-10 03:32] zachfeldman commented on #1012
Yeah, what I'm trying to say is that I don't see this library anywhere in your stack trace. It looks to be a problem with `action_dispatch` so have you thought of trying to file a bug over at  https://github.com/rails/rails ?

[2017-11-10 03:35] sushant12 commented on #1012
@zachfeldman actually no i did not consider it but i will. BTW the same issue is persisting for the email and password login too.

[2017-11-10 11:49] sushant12 commented on #1012
closing this since I am following a different approach

[2017-11-10 11:49] #1012 closed

[2017-11-10 11:50] sushant12 commented on #1010
@zachfeldman  i made a very rookie mistake. After I was redirected to auth_origin_url with tokens I used that token and sent it in the header to make a call to my apis.

[2017-11-10 13:54] zachfeldman commented on #1010
Ok!

[2017-11-10 14:02] Marinlemaignan opened #1013 "Using DeviseTokenAuth::Concerns::User breaks Devise::confirmable and Devise::reconfirmable"
Culprits being :
[code]
why is that

[2017-11-10 14:21] zachfeldman commented on #1013
Hi @Marinlemaignan , I haven't been here since day 1, but when going through the repo I did find a few references to confirmableand reconfirmable being broken.

We'd welcome your pull request if this is truly an issue!

[2017-11-10 14:25] Marinlemaignan commented on #1013
This breaks this part of the reconfirmable module:
[code]

[2017-11-10 14:26] Marinlemaignan commented on #1013
I'll try something out and will keep you updated as i can

[2017-11-10 14:27] Marinlemaignan commented on #943
yes https://github.com/lynndylanhurley/devise_token_auth/issues/1013

[2017-11-10 14:28] Marinlemaignan commented on #416
https://github.com/lynndylanhurley/devise_token_auth/issues/1013

[2017-11-10 14:30] Marinlemaignan commented on #1013
In the meantime this issue _should_ be referenced in the wiki, so that no one will loose time figuring out something that is already known

[2017-11-10 14:38] zachfeldman commented on #1013
Sure we currently have nothing in the Wiki most is in the README (I know, it's really hard to read but that's where we're at) - maybe a quick PR into there!

[2017-11-10 14:38] zachfeldman commented on #1013
Appreciate your possible contribution @Marinlemaignan !

[2017-11-10 16:30] natefoundry commented on #941
I'm specifically only running into this issue when deploying my rails app to Heroku.

I noticed my local Postgres version is 9.6.2 and Heroku's is 9.6.4, but I'm not certain that is affecting anything.

For me, this seems to happen after my initial User creation in my seed file when setting up the database. The workaround provided by @gibo fixes the issue, and the gem no longer creates string valu

[2017-11-10 21:39] karlingen opened #1014 "API is not using defined ApiController but rather ApplicationController"
Doing a POST to `/api/v1/auth/sign_in` with email and password causes status 401.
Removing the line `before_action :authenticate_user!` from ApplicationController resolves the issue but breaks rest of the app.

Using version `v0.1.42` of the gem.

Why is this happening when the auth is not even mounted to ApplicationController?
Also, the `sign_in` method should always ignore `:authenticate_user!`

[2017-11-11 00:35] zachfeldman commented on #1014
@karlingen what happens if you turn off the option to refresh the token on every request?

[2017-11-11 03:27] sushant12 opened #1015 "Return a authentication token"
Not an issue with the gem but I just need some help with returning token.

I am using devise_auth_token gem in my rails-api app.

I have a route in my api app that will response

{ "url": google-oauth-login-url }
The frontend app use that route to put it in the login with google btn.

After a user click in the btn they will be redirected to google oauth page and after filling in the details they w

[2017-11-12 13:00] karlingen commented on #1014
@zachfeldman no change unfortunately.. Seems like it's the same issue here: https://github.com/lynndylanhurley/devise_token_auth/issues/887

[2017-11-12 18:23] karlingen commented on #887
@zachfeldman PR up for grabs!

[2017-11-12 22:24] #1014 closed

[2017-11-12 22:53] zachfeldman commented on #1015
@sushant12 you haven't posted any code here - what have you tried so far?

If you need more basic/architectural help you also may want to try Stack Overflow too?

[2017-11-13 06:05] sushant12 commented on #1015
@zachfeldman I have updated the issue. Please do take a look

[2017-11-13 07:23] karlingen commented on #887
@iamameme see if the latest master fixes your issue

[2017-11-13 08:06] sushant12 commented on #1015
the above code is wokring fine. It is just that I had the same value in the uid field in one of the records and that is why the auth code were not working.

[2017-11-13 08:06] #1015 closed

[2017-11-13 16:24] dks17 commented on #1008
@zachfeldman, I have [fork for Mongoid](https://github.com/dks17/devise_token_auth/tree/mongoid-v0.1.42), but now it's only experiment.

@stratigos rights
#957 PR changed behavior and it occurs like side effect. It is my bad.

Devise method reset_password_by_token(attributes={}) [accepts also](https://github.com/plataformatec/devise/blob/88e9a85d6a796a41f4dcf2528ed6d5f48916b5fd/lib/devise/models/r

[2017-11-13 17:30] ethagnawl commented on #884
@edwardmp Could you elaborate on this? I'm seeing similar behavior and trying to determine whether or not it's caused by the same issue.

In my case, I'm submitting a POST to /users/auth/sign_in and getting a 200 back, but the auth headers (access-token, client and uid) are inexplicably missing.

[2017-11-13 17:36] Blitzkev opened #1018 "omniauth-facebook yields ActiveModel::ForbiddenAttributesError in omniauth_callbacks_controller.rb:84:in `assign_provider_attrs'"
Using latest master commit:
`gem "devise_token_auth", git: "https://github.com/lynndylanhurley/devise_token_auth", ref: "2a5cedbbd886329a318298d15b38fabbee51e7da"`

After successfully calling /auth/facebook, logging in, and being redirected to /auth/facebook/callback, I receive the following error:
`ActiveModel::ForbiddenAttributesError in DeviseTokenAuth::OmniauthCallbacksController#omniauth_succ

[2017-11-13 17:45] stratigos commented on #1008
@dks17 that is certainly a better change, and those tests are needed. It looks like that change does restore the password reset expiry feature.

However, I still think the best approach overall would have been for you to make a local override, and changed the `#edit` action to suit your application's needs. The original `#edit`, before #957, has much simpler code, and also allows error messages to

[2017-11-13 22:45] ethagnawl commented on #747
Are people still seeing this issue with Devise 4.3.0? I'm seeing an issue where I'm able to successfully make a request, but the response headers are missing all of the expected auth entries.

[2017-11-13 23:47] lynndylanhurley commented on #972
Just pushed `v0.1.43.beta1`. I'll do extensive testing over the next couple of days and push `v0.1.43` later this week.

In the meantime please pull down the beta and test.

Thanks!!

[2017-11-14 00:02] ethagnawl opened #1019 "Missing Auth Headers in Success Response"
I'm having an issue wherein the expected auth headers aren't being set, even though the request has been authenticated and there are no model validation errors (as reported in #884). I've determined the cause of the issue, but I'm not sure it's a bug. I wanted to open this issue to discuss potential workarounds or just note this behavior in case someone else runs into this in the future.

Roughly,

[2017-11-14 00:14] zachfeldman commented on #1019
Thanks for reporting @ethagnawl . I'd definitely be down to include a warning at this stage!

[2017-11-14 01:38] ethagnawl commented on #1019
@zachfeldman Cool. I will have a look at the codebase to see if that's feasible.

Otherwise, are you aware of any workarounds? I realize I should create a separate AdminClients controller, but I was hoping to find a temporary solution.

[2017-11-14 01:52] stratigos commented on #1008
@dks17 I looked over your change, and it suffices to restore the expected functionality. Thanks for adding those tests.

Handling the errors is more complex than I thought it would be, when `#edit` is restored to the point prior to #957, but the flow for handling a reset token error makes more sense with your change. Ill submit a PR for that once #1017 gets merged, which should then take care of #

[2017-11-14 14:28] MaicolBen commented on #972
Thanks @lynndylanhurley! can you take a look at #995, because it will break for the projects that update the gem. I would like #989 merged, but that's only for our projects.

[2017-11-14 14:56] zachfeldman commented on #1019
Ha! Look at that. That's great. I think we should do a warning and a link to this issue if you have a moment. Otherwise we could close this.

[2017-11-14 17:04] stratigos commented on #1008
Now that #1017 is merged, Im going to bundle my app locally, and will close this thread once I see the pw reset expire working in action. Thx to both of you for your contributions in working this out.

[2017-11-14 17:27] #987 closed

[2017-11-14 21:16] stratigos commented on #1008
This appears to be working as of f8a8b6381130c657ae6983925bef6423743fe31a.

I needed to update to `0.1.43beta1` to keep up with the update to #1017, which also requires that `users.allow_password_change` be added to your application schema as well (replace `users` with whatever your scope name is).

After I migrated my application's database to have that table column, password reset expiry works a

[2017-11-14 21:16] #1008 closed

[2017-11-14 22:23] amyin commented on #604
I am doing the same thing as @andrewferk because I felt uncomfortable sending a "session secret" token in the url params in the redirect. I am using my own method for update that resets the password given a password_reset_token otherwise just calls `super` to handle the logged-in user case. For me that means that the PasswordsController#edit functionality is no longer used. Curious to know how you

[2017-11-15 01:04] sarink commented on #82
I'm still getting this same error _today_ with rails 5 and omniauth-google-oauth2

[2017-11-15 01:06] lynndylanhurley commented on #82
@sarink we just pushed a beta yesterday. Can you please try with version `0.1.43.beta1`?

[2017-11-15 01:10] sarink commented on #82
Just tried the beta, same error. Can you elaborate on what you mean by ["disable the Rails session system"](https://github.com/lynndylanhurley/devise_token_auth/issues/82#issuecomment-65323741)? I haven't seen any instructions for that in the readme, so I'm not sure if I've done it

[2017-11-15 01:12] lynndylanhurley commented on #82
When I wrote that comment OmniAuth relied on sessions to function. I'm not sure if that's still the case, but if you've disabled sessions you may want to try re-enabling them to see if that resolves the issue.

[2017-11-15 01:14] amyin commented on #604
In case someone also wants to have all email linking directly to the frontend, here is my PasswordsController#update and related spec (will try to add a formal PR to the gem over winter break!)

[code]

rspec
[code]

[2017-11-15 01:20] sarink commented on #82
I haven't disabled it, I'm on a vanilla Rails 5 API Only project, I've encountered/fixed quite a few other errors, but I'm pretty stuck on this one. Any suggestions?

[2017-11-15 01:22] lynndylanhurley commented on #82
We'll need more info about your environment. Please open a new issue that follows the [issue template](https://github.com/lynndylanhurley/devise_token_auth/blob/master/.github/ISSUE_TEMPLATE.md).

[2017-11-15 01:32] sarink commented on #82
`rails new . --api` is my environment.

I've seen this same issue actually opened and closed, without resolution, three times now... do you really want a fourth? I can document all the other issues and solutions I've encountered too, but my first priority has to be fixing this error

[2017-11-15 01:38] lynndylanhurley commented on #82
When using the `--api` flag, the [session middleware is not included](http://edgeguides.rubyonrails.org/api_app.html#choosing-middleware). Please try [adding the session middleware](http://edgeguides.rubyonrails.org/api_app.html#other-middleware) and let me know if that resolves the issue.

[2017-11-15 01:55] sarink commented on #82
This issue still occurs with (this is how my configuration already was)
[code]

I've tried switching it to:
[code]

Which yields a new error:
[code]

Relevant stack trace:
[code]

[2017-11-15 02:01] lynndylanhurley commented on #82
Have you tried following [these instructions](https://github.com/omniauth/omniauth#integrating-omniauth-into-your-rails-api)?

[2017-11-15 18:17] sarink commented on #82
I updated my `application.rb` config according to those instructions^, that didn't fix the problem though.

I had to override the `omniauth_callbacks_controller`s `assign_provider_attrs` method

I monkey patched it to look like this:
[code]

[2017-11-15 19:05] sarink opened #1020 "[WORKING] Instructions for Rails 5 API and Google OAuth2"
## What is this?
This isn't really an issue, but more of a guide for how I made this gem work with a brand new Rails 5 API-only project and [Google OAuth2](https://github.com/zquestz/omniauth-google-oauth2).

Hopefully it will serve to help others trying to use this today, as well as the authors to fix some of these problems in the library, and/or just update documentation.

*Please note that each

[2017-11-15 19:06] sarink commented on #82
Writeup of everything is here: https://github.com/lynndylanhurley/devise_token_auth/issues/1020

[2017-11-15 19:12] zachfeldman commented on #82
Thanks @sarink ! Appreciate your contribution

[2017-11-15 20:02] sarink commented on #1020
Update: I may have spoken too soon, although this _does_ achieve a successful auth, and the user is inserted into the database, `omniauth_callbacks_controller#omniauth_success` triggers `render_data_or_redirect

[2017-11-15 20:02] #1020 closed

[2017-11-16 20:04] Blitzkev commented on #972
Would appreciate this merged also:

https://github.com/lynndylanhurley/devise_token_auth/pull/1021

[2017-11-16 20:40] Dimkarodinz opened #1022 "Ukrainian localization"
Added ukrainian localization to config/locales. Need access to push branch for pull request

* **Version**: 0.1.43.beta1

[2017-11-16 21:00] zachfeldman commented on #1022
@Dimkarodinz thanks! Please open a pull request from a fork of this repository.

[2017-11-16 21:00] zachfeldman commented on #1022
https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2017-11-16 21:09] Dimkarodinz commented on #1022
Thanks! Just a moment

2017-11-16 23:00 GMT+02:00 Zach Feldman <notifications@github.com>:

[2017-11-16 21:33] #1022 closed

[2017-11-17 13:43] gibo commented on #654
is there an official solution for this?

[2017-11-17 14:03] zachfeldman commented on #654
@gibo there is not, but we do take pull requests! We'd love to see yours.

[2017-11-17 16:30] #992 closed

[2017-11-17 17:13] Hugo-Hache opened #1024 "Weak ETag on Rack::ETag breaks change_headers_on_each_request"
While debugging an intermittent unlog issue on a mobile app consuming a Rails app powered by devise_token_oauth, we found occurrences of 304 returned to the client whereas the token was changed.

After investigating Rack::ETag (included by default in Rails middleware) we found that the etags generated are weak. They are indeed computed exclusively from the [body of the response](https://github.com

[2017-11-17 20:06] gibo commented on #654
@zachfeldman seems like there is already a PR for this :) https://github.com/lynndylanhurley/devise_token_auth/pull/793

[2017-11-17 20:15] zachfeldman commented on #654
Ah, I didn't realize this was the same thing! Sorry about that @gibo .

Have you tested the code in the open PR? If you've tested it along with the code that's currently in beta:
https://github.com/lynndylanhurley/devise_token_auth/issues/972#issuecomment-344097692

then we may merge that PR sooner rather than later.

[2017-11-17 20:44] gibo commented on #654
@zachfeldman I’ll give it a test

[2017-11-17 22:42] MaicolBen commented on #1024
Did you try with a more recent version? that version is from July 2016

[2017-11-18 17:38] gibo commented on #654
I made a small change to @geoandri code, as it was not returning the correct headers

`class FacebookAuthController < ApplicationController

  include DeviseTokenAuth::Concerns::SetUserByToken

  def login_or_create_profile
    facebook_graph = Koala::Facebook::API.new(params['access_token'])
    facebook_profile = facebook_graph.get_object('me', fields: ['email', 'id', 'name'])

    create_and_or

[2017-11-18 17:46] zachfeldman commented on #654
Nice @gibo. Want to maybe submit a clean PR if you're done testing?

[2017-11-19 01:32] hansy commented on #713
I'm experiencing 404 issues as well when hitting the `sign_out` route. My `DELETE` request does contain `client`, `access-token`, and `uid` in the header, so I'm not sure what else I'm missing...

[2017-11-19 14:31] emilevictor commented on #183
@JerryGreen, do you have an update on the current state of this? I am, like many others here, converting my app from an HTML generating app to an API only thing... I want to continue using facebook login, etc - but from what I gather from this thread the omniauth gem needs some serious changes?

Is there a drop-in replacement or do I need to do some manual work?

[2017-11-19 14:50] zachfeldman commented on #183
@emilevictor @gibo appears to be working on this here:
https://github.com/lynndylanhurley/devise_token_auth/issues/654#issuecomment-345457846

Maybe you two could finish up the work together if they're having any issues? We'd welcome your testing/approval of existing pull requests, or new ones!

[2017-11-19 16:48] JerryGreen commented on #183
@emilevictor as far as I know there's still no "ready to use" implementations (handled by single gem). Only custom ones. Omniauth still need changes.

btw, if you just want to make things work, look again at [one of my previous messages](https://github.com/lynndylanhurley/devise_token_auth/issues/183#issuecomment-308222525)

The link in there might help you - https://stackoverflow.com/questions/19

[2017-11-19 17:01] gibo commented on #654
I don't think it can really be tidied up into a PR, it really seems that Omniauth cannot be used with rails-api projects and therefore devise token auth.

I think there needs to be a new gem created to handle this scenario which integrates into devise token auth.

[2017-11-20 03:47] franklinyu commented on #183
The point is, OAuth protocol implicitly rely on session (because it needs redirect). So if you want to OAuth, you have to enable session. But if you only need Google and Facebook (not even Twitter!), then it's possible to do pure API, but it is no longer OAuth. I believe Google call it Auth2, but I doubt that there is even a well-defined, stable protocol for it. According to my own brief research

[2017-11-20 15:47] zachfeldman commented on #183
Ah I see, this appears to be a much larger issue! Yeah it would be really cool if we could roll support of that into this gem :). Or have another gem that this gem relies on.

[2017-11-20 15:50] lynndylanhurley commented on #183
Thanks @franklinyu for explaining this so well. This issue comes up a lot - maybe we should add a note to the readme?

[2017-11-20 16:49] franklinyu commented on #183
@lynndylanhurley You're welcome! Actually I myself is new to this field, but the Auth2 is really attractive, as it is possible to avoids CSRF (Cross Site Request Forgery) at all (so we don't need the `state` parameter).

I'm not sure what to add to README... Telling users that OAuth is not possible without session? Or invite users to join this thread?

[2017-11-20 16:53] lynndylanhurley commented on #183
A lot of users are creating new rails projects with the `--api` flag (which strips away session support), and are then getting confused when omniauth doesn't work.

I was thinking of linking to this part of the omniauth/omniauth readme:
https://github.com/omniauth/omniauth#integrating-omniauth-into-your-rails-api

[2017-11-20 18:13] JerryGreen commented on #183
@lynndylanhurley nah, this section have ~0 sense. This will work in case you render html with rails-api. Nobody does that. People are making json requests to rails-api. You can't get redirected with that. You can't open popups with that. Omniauth is supporting redirects & popus but it can't handle json requests.

You don't have "a magic trick" here.

1. Either you integrating with facebook/google/

[2017-11-21 01:31] ilhanadiyaman commented on #155
I have the same issue. @salmanasiddiqui any progress for the PR?

[2017-11-22 07:13] sarink commented on #937
https://github.com/lynndylanhurley/devise_token_auth/issues/1020

[2017-11-22 11:37] sickrandir commented on #481
Is it fixed upstream in some released version?

[2017-11-22 13:15] array42 commented on #599
Thank's for the offer. As a new kind of workaround we introduced a extra route and we rewrite the URL there. So that way we did not have to change this library code, but it is another route and redirect.

[2017-11-22 14:18] zachfeldman commented on #481
@sickrandir it might be, we are testing this release right now:
https://github.com/lynndylanhurley/devise_token_auth/tree/v0.1.43.beta1

which is the latest. If not feel free to submit a pull request!

[2017-11-22 14:19] #937 closed

[2017-11-22 14:24] sickrandir commented on #481
@zachfeldman thanx. I installed 0.1.43.beta1 and I can confirm that it fixes this issue for me.

[2017-11-22 14:26] zachfeldman commented on #481
That's great!

[2017-11-22 18:49] colmben opened #1027 "enable_standard_devise_support causes reset_password process to fail if different user currently logged in"
I am noticing an issue whereby if the server thinks it has a current_user for the browser session then doing a "password reset request=>click the reset link in the email" results in validate token sending back the details for the current user rather than the user doing the reset password.

The problem lies generally in how reset password works (effectively logging in the user based on the reset to

[2017-11-23 01:41] zachfeldman commented on #1027
@colmben I agree there should probably be a sign out before we do a reset password request. Would you be open to authoring a pull request for this?

Honestly this was probably not addressed because...how often does this scenario happen in the average app? :)

[2017-11-23 10:05] colmben commented on #1027
@zachfeldman Yes it is unusual, but once you've seen it, it keeps popping its head up! Especially during manual testing of the reset flow - if you take a test as far as seeing the password reset form and leave it there, every subsequent test that gets that far will get a validate token response with the original request details (because the original reset request flow is logging in that user).

As

[2017-11-26 02:20] zachfeldman commented on #1027
@colmben for sure - I get what you're saying haha.

We'd appreciate your contribution!

[2017-11-26 21:58] dks17 opened #1031 "validate_token route omits specified json format"
At each request /api/v1/auth/validate_token browser gets response in JSON format, but it is logged like HTML.

rails server log:

In browser response is returned like JSON

Request headers:

Response headers:

routes.rb
[code]
rake routes
[code]

I also noticed some strange path helpers name **api_v1_auth_validate_token** and **api_v1_auth_failure**. It could be unnoticed when routes is written wi

[2017-11-26 22:11] dks17 commented on #1031
#1032 fix only defaults for validate_token path
Console output as expected:

[2017-11-28 07:49] blaslaunchlabs opened #1035 "NoMethodError (undefined method `valid_token?' for nil:NilClass)"
Hi I'm trying to use `@resource.valid_token?(token, client_id)` but i get a `NoMethodError (undefined method valid_token? for nil:NilClass)` below is my code. Am I doing wrong or this valid token is not working?
[code]

[2017-11-28 09:57] salmanasiddiqui commented on #155
Made the PR. I haven't added any tests, though I would suggest that all the tests for this specific helper in `Devise` should be copied over. I have moved to python for the past few months and don't have ruby configured. 🙁

[2017-11-28 14:36] zachfeldman commented on #1035
Hi @blaslaunchlabs please elaborate on the issue you're facing exactly?

[2017-11-28 14:38] zachfeldman commented on #155
This PR doesn't appear that it would break anything because the method has a default argument, so I merged it.

[2017-11-28 14:42] MaicolBen commented on #155
Can this be closed?

[2017-11-28 14:44] #155 closed

[2017-11-29 05:46] blaslaunchlabs commented on #1035
Hi, I'm trying to use @resource.valid_token?(token, client_id) but i get a NoMethodError (undefined method valid_token? for nil:NilClass). am I doing wrong or this valid token is not working?

[2017-11-29 13:10] Herz3h commented on #397
@MarketingAjay I accidently put the include concern first and it caused this problem. I had no idea why it was asking for confirmable even tho i removed that from my user model. Thanks for the fix, works perfectly !!

[2017-11-29 13:49] dks17 commented on #1035
I think you need in your controller find a user firstly. As I realized valid_token? is object method and  @resource is nil. Try something like this in your controller:

[code]

[2017-11-29 14:02] jdevng opened #1037 "Error with mailer_sender"
config/initializers/devise_token_auth.rb:3:in `block in <top (required)>': undefined method `mailer_sender=' for DeviseTokenAuth:Module (NoMethodError)

In my initializer:

    DeviseTokenAuth.setup do |config|
      config.mailer_sender = "my@email.com"

if I change DeviseTokenAuth to Devise, it works. I'm not well versed enough to contribute with a change - I would assume this is an issue with D

[2017-11-29 14:08] blaslaunchlabs commented on #1035
Thanks @dks17  its working that way.

[2017-11-29 16:49] zachfeldman commented on #1035
Yay! Thanks @dks17 for the assist

[2017-11-29 16:49] #1035 closed

[2017-11-29 16:50] zachfeldman commented on #1037
Hey @jdevng does this actually affect the outcome of your app? If you change the line to Devise.setup, does your mail send correctly?

[2017-11-29 19:21] gavin1818 commented on #268
I have the same issue, the reason is that the method name "resource_class" conflicts with the method in Devise, hence instead of calling the set_user_b_token#resource_class, it calls the devise's app/controllers/devise_controller.rb#resource_class

[2017-11-29 20:49] dks17 commented on #656
Good suggestion.
I think encryption level should be the same for both passwords and tokens because of they both are stored in one database, closely to each other. They should have the same cryptographic strength.

But @yury-dymov  you are right. Hight cost value reduces performance and it is redundantly.
I think the best way it is the cost value should depends on token life span. The shorter life

[2017-11-29 20:53] lynndylanhurley commented on #656
@dks17 - just to clarify, by changing [the initializer setting](https://github.com/plataformatec/devise/blob/451ba5362b84ff18a31ea1b3251137128a6b1beb/lib/generators/templates/devise.rb#L100) that you linked to, does that update the value used for this gem? Or is this something we would need to build support for?

[2017-11-29 21:24] dks17 commented on #656
@lynndylanhurley - it uses like default devise config, and I think that it should be overridden. But this relates only user password. I will create pr for this.

[2017-11-30 07:38] dks17 commented on #672
@balakarthik2011 Hello. Looks like your problem was solved recently. Try to switch on master branch. Does your problem still occur?

[2017-11-30 17:39] jdevng commented on #1037
Yes - I'll run some broader tests.

[2017-12-01 01:38] MaicolBen commented on #1037
You have to use `Devise`, check at the end of the section of https://github.com/lynndylanhurley/devise_token_auth#configuration-cont

[2017-12-01 01:46] MaicolBen commented on #941
Closing since it's a duplicated of #681 and #121

[2017-12-01 01:46] #941 closed

[2017-12-01 01:51] MaicolBen commented on #266
Resolved in #964

[2017-12-01 01:51] #266 closed

[2017-12-01 04:10] danielcnorris opened #1041 "Easily saving access_token in User model for later 3rd party API access"
I've completed the basic setup following the readme after initiating a new rails 5 app, API only. I am using GitHub as my authentication provider. I want to save the GitHub access token in my User model, so that I can periodically fetch data from GitHub's API (via Octokit). Is there a way for me to easily extend the devise token auth controller, so that it does it's automatic magic and additionall

[2017-12-01 04:26] danielcnorris commented on #1041
Would something like this work?

https://stackoverflow.com/questions/39425850/what-does-yield-resource-in-the-devise-controllers-do

[2017-12-01 14:23] zachfeldman commented on #1041
@danielcnorris have you tried overriding the controller, calling super on the correct action to call the default code for it at the right time, then putting code before that to intercept the request and log that token? I'd start by trying to do a controller override.

[2017-12-02 02:13] danielcnorris commented on #1041
@zachfeldman Thanks for your suggestion. I also realized that I can create an Oktokit client with my application credentials that will automatically give me access to data for users that have authorized my app. So I don't actually need to store the token in the User model. I may still try it to confirm it works.

[2017-12-02 02:13] #1041 closed

[2017-12-02 02:33] zachfeldman commented on #1041
Nice

[2017-12-03 19:37] jdevng commented on #1037
Thanks @MaicolBen - am I losing anything by not using the default value?

[2017-12-04 05:43] BenjaminKim commented on #691
@zachfeldman No, it is not.
There is a case that some mail clients visit the links in the mail content before user do. In this case the user always see the Routing error.
This situation is not good for security. Security issue must be solved with `reset_password_period_valid?`.

[2017-12-04 06:23] BenjaminKim commented on #604
@ysyyork is talking about https://github.com/lynndylanhurley/devise_token_auth/issues/691 issue and I agree him.
This situation is very bad as @ysyyork said.

And even worser situation is the some mail clients visit the links of the mail content automatically for security reason. In this case the user never cannot reset the password.

[2017-12-04 12:59] zachfeldman commented on #691
@BenjaminKim sorry to hear that you're so upset with the current implementation. This is a volunteer run project, so might I suggest that you submit a pull request if you feel so passionately?

[2017-12-04 12:59] zachfeldman commented on #604
@BenjaminKim see my comment in the other issue thread, please submit a PR if you think, "the situation is very bad".

[2017-12-04 13:32] MaicolBen commented on #1037
No, you should change it unless you want "myapp.com" mail

[2017-12-04 13:32] #1037 closed

[2017-12-04 13:46] gauthiermartin opened #1043 "undefined local variable or method `flash' for #<Devise::UnlocksController"
When we are triggering the password reset and after three failed connection attemp.
When we are clinking on the account unlock link the account get unlocked but the server generate an error 500.

![selection_012](https://user-images.githubusercontent.com/7561038/33555775-931bab82-d8cf-11e7-90a1-98ae8bc7d0e1.png)

* **Version**: 0.1.42
* **Rails Stacktrace**:
Started GET "/api/auth/unlock?unlock_to

[2017-12-04 13:53] zachfeldman commented on #1043
@gauthiermartin are you using Rails API generator or is this a standard Rails install? If the former, it may be because the flash message code isn't being included in the install and Devise is expecting them to be.

[2017-12-04 14:17] gauthiermartin commented on #1043
@zachfeldman  I'm using rails standard install .. how could i fix this error ?

[2017-12-04 14:21] zachfeldman commented on #1043
@gauthiermartin ok. Have you tried this? https://github.com/plataformatec/devise/issues/4275#issuecomment-244968778

[2017-12-04 14:28] gauthiermartin commented on #1043
@zachfeldman  Do i need to recopy the controller as a whole or only this method ?

johndel/devise@c870213

[2017-12-04 15:15] gauthiermartin commented on #1043
@zachfeldman  Got it working ... After account unlock im getting redirected to sign_in using a get method is there a way to either change this redirect url or change the method for a post ?

[2017-12-04 15:25] zachfeldman commented on #1043
@gauthiermartin have you tried overriding the controller?

FYI, this is an issue tracker for tracking real problems with the library itself - if you're looking for more basic help, please post on Stack Overflow or try Google. If your issue here in the title is solved, please close it.

[2017-12-04 18:55] #1043 closed

[2017-12-11 07:37] luispcosta commented on #768
This is currently happening with me:

[code]

[code]

Can we re-open this?

[2017-12-11 13:30] zachfeldman commented on #768
@luispcosta did you try restarting your computer?

[2017-12-11 17:56] Loschcode commented on #550
Did you ?

[2017-12-11 18:05] phspies commented on #550
For me it seemed to start working when I passed all 5 variables to the endpoint. But I got around this issue by overriding the authentication class with my own.

[2017-12-11 19:47] gugat commented on #851
@diiq Do you know when does that happen?

[2017-12-11 19:48] diiq commented on #851
There are two config variables that control that, I think.

[2017-12-11 19:49] Olek-sii commented on #907
Same issue and i can not find solution. Is there any solution for this?

[2017-12-12 04:43] kjakub opened #1045 "Confirmation flow"
After clicking on confirmation link in email, backend redirecting to url with params for example

`/?account_confirmation_success=true&account_confirmation_success=true&client_id=GkgWm0LKhoVlgT353ztRlQ&client_id=z-egqMAP32r5VJGBciAJEg&config=default&config=default&expiry=1514259134&expiry=1514262981&token=uSJvkZAmJW66yFqCdh6lpg&token=fGY-7HMMy3EftinljvYeSQ&uid=joby@gmail.com&uid=mygucakune@hotmail

[2017-12-12 14:45] zachfeldman commented on #1045
How are you sending the confirmation email?

[2017-12-12 15:30] kjakub commented on #1045
@zachfeldman I did not change anything on rails side just enabled

[code]

and controllers are not overridden

register post request

[code]

link in email

`http://localhost:3000/auth/confirmation?config=default&confirmation_token=ZmyCtRezoXtxRVjxCBzk&redirect_url=http%3A%2F%2Flocalhost%3A4200%2Faccount_confirmed`

redirected from rails
[code]

[2017-12-12 15:34] zachfeldman commented on #1045
Ok, this makes sense to me. So the link in the email contains a confirmation token and a redirect url - then your'e redirected to that redirect URL with all the params you need to sign in the user. What's wrong exactly?

[2017-12-12 15:48] kjakub commented on #1045
in this case nothing wrong, and i was guessing right then "Is this mean to be tokens/data to authenticate with ?" and same case for reset password flow.

hmm, i am not sure if i want to perform auto-login on frontend after clicking link in emails, so i better override those controllers and remove those url params, for my case are not necessary there. I might find some time and do PR and have it as

[2017-12-12 15:54] #1045 closed

[2017-12-12 16:08] zachfeldman commented on #1045
Cool, sure. Yeah a PR might be nice I'm not sure how many others would find this useful but I'd be down to review it!

[2017-12-12 17:28] alvarofernandoms commented on #75
Thank you, @dchersey. Using the `authentication_helper.rb` and updating the `rails_helper.rb` and the block below (without the post method) inside my test describe, works just fine! Thanks!!!
[code]

[2017-12-12 20:15] KelseyDH commented on #604
I ran into a huge gotcha when trying to implement an API-only password reset link for iOS and Android apps.... which is that since these clients are not web browsers, any link pointing or redirecting to them will not open unless they use a custom app scheme url instead of http://.  E.g. so something like `"myapp://callback/reset_password_token?reset_password_token=" + @token`

Looks great, right?!

[2017-12-14 21:32] geetotes commented on #948
There is an omniauth example here: https://github.com/leikir/devise-token-auth-omniauth-example

You might have luck just directing your users to the route `auth/facebook` or however it is setup in your rails routes. Or else you can just use a js-only facebook oauth library in your Ionic app and make an endpoint to "link" your user to their Facebook account and log them into your app (and send bac

[2017-12-14 22:51] KelseyDH commented on #183
Rails is going to be a dead framework if problems with API-based token authentication aren't figured out.  The community either needs to rally around a new gem for API-based token authentication, or rewrite a new one leveraging devise that won't break by default when conflicting with devise's route namespace.

I needed a little bit of vanilla html `devise` with `devise_token_auth` in my Rails API

[2017-12-14 22:57] lynndylanhurley commented on #183
@KelseyDH - I'm not sure I understand the issue. Is it that DTA and devise can't use the same endpoints for authentication?

[2017-12-15 13:16] riggy commented on #707
Stumbled upon this issue when I asked myself the same question about tokens stored in json column. Wouldn't it be more efficient in terms of performance if tokens were stored as separate database entries? Token lookup and token generation/storing would be much faster. Only now I noticed that technically main bottleneck of API requests my application is getting is the exact moment, when token colum

[2017-12-15 13:25] zachfeldman commented on #707
@riggy do you have any benchmark data to backup your claim?

[2017-12-15 13:31] riggy commented on #707
@zachfeldman Not yet. It was just a hypothetical question (maybe not phrased as one) based on my general knowledge of how relation databases work. I might lack some knowledge on how lookup is performed on json columns though. I was wondering if there was some solid argument to choose that solution over the other and I was hoping to get one.

But you've posted a valid question - I'll try to come up

[2017-12-15 15:35] hansy opened #1046 "NoMethodError: undefined method 'allow_password_change='"
Trying to hit the password reset endpoint, but Rails spits this error: `NoMethodError: undefined method 'allow_password_change='`. It's breaking in the passwords controller.

Do I have to add this method to the model manually? Here's my current `User` model:

[code]

Using Version 0.1.43.beta1 (from master branch).

[2017-12-15 15:49] hansy commented on #1046
Oh I see. It's not a method; it's an attribute that must not have made it into my schema. Apologies for the confusion.

[2017-12-15 15:49] #1046 closed

[2017-12-15 17:47] KelseyDH commented on #183
@lynndylanhurley  The only way to get 'devise' and 'devise_token_auth' working at all in a Rails 5 API app without blowing up on routes appears to be from giving them a separate namespace, and so far in my experience, [by having them inherit from different ActionControllers](https://github.com/plataformatec/devise/pull/4680#issuecomment-351310067).  This to me is not an ideal solution, but I could

[2017-12-15 17:57] lynndylanhurley commented on #183
@KelseyDH the issue is that devise and DTA work differently, and it's difficult to have different functionality from different gems that lives in the same namespace and controller.

Are you suggesting that we duplicate all of the functionality of devise on top of the existing functionality of this gem?

[2017-12-15 19:12] KelseyDH commented on #183
@lynndylanhurley Not necessarily.  Stepping back:  the reason I had to bring vanilla `devise` into a Rails API `devise_token_auth` project for iOS and Android apps is because I could find [no workable solution for getting password reset links to open and correctly redirect back to a mobile app using a custom scheme URL, without html.  ](https://github.com/lynndylanhurley/devise_token_auth/issues/6

[2017-12-16 19:33] lynndylanhurley commented on #183
I agree with you. I have something in the works but work is crazy so I can't give an ETA. If you have the time we're happy to accept a PR in the mean time.

[2017-12-16 23:55] KelseyDH commented on #707
External `params` shouldn't be inserted into a query through string interpolation, as it creates opportunities for SQL injections.  So you'd probably want to rewrite the query to something like:

[code]

[2017-12-17 00:48] lynndylanhurley commented on #707
@riggy:

1. No, it would not be more efficient in terms of performance.
2. Disregarding the performance issue, querying by the token value will create a [timing attack](https://en.wikipedia.org/wiki/Timing_attack) vulnerability. It's better to query the user by their `id` and then check the tokens stored on the user's db record.

@KelseyDH:

Thanks for pointing out the SQL injection issue. But I w

[2017-12-17 13:32] nearbycoder commented on #768
@luispcosta I was able to resolve this issue by stopping spring. 😄

[2017-12-17 20:58] tootis commented on #82
Hi @lynndylanhurley and all,
I followed instructions in @sarink 's comment but I still get:
[code]
I am using `omniauth-facebook` only, and using the latest version of `devise_token_auth`

Can anyone help?

[2017-12-18 17:57] sarink commented on #82
@tootis i only used google-oauth2, maybe you could try setting that up to see if the problem is related to facebook or something else?

[2017-12-19 09:08] im-so-handsome commented on #747
Hi guys, I meet this issue after installing it without restart rails.
Yep, the solution for me is simple to make rails server restart.

[2017-12-19 14:20] arambert opened #1047 "Auth headers are not sent when the token does not change"
We use DeviseTokenAuth 0.1.43.beta.
We have slightly edited the update_auth_header method to rotate the token only once in a while. But I think we still should be sending the auth headers at each request. Am I wrong?

**the problem:** In fact the auth headers are only sent when the token is being changed.

**the reason:** :authenticate_user! (setting @resource) is called before :set_request_start

[2017-12-19 19:15] MaicolBen commented on #892
I checked and is fixed in master as @jduff said, so I'm closing this

[2017-12-19 19:15] #892 closed

[2017-12-21 18:55] RuanHerculano opened #1048 "I can not insert name when registering user"
**My request**:
[![Screenshot_from_2017-12-21_16.45.39.png](https://s10.postimg.org/3xhhka6xl/Screenshot_from_2017-12-21_16.45.39.png)](https://postimg.org/image/ekbappf2t/)

**My response**:
[![Screenshot_from_2017-12-21_16.46.08.png](https://s10.postimg.org/o4uxcrzbt/Screenshot_from_2017-12-21_16.46.08.png)](https://postimg.org/image/h1n1x5tw5/)

**My migration**:
[![Screenshot_from_2017-12-21_1

[2017-12-21 19:04] zachfeldman commented on #1048
What does your controller look like? Name isn't inserted by default as far as I know, I think you'd have to override the controller.

[2017-12-21 19:14] RuanHerculano commented on #1048
I did not create a controller for this. It is necessary to create?

[2017-12-21 19:18] zachfeldman commented on #1048
Yes, you'll probably have to create an overrides controller to override default behavior because I don't think the API assumes/creates/updates a name out of the box. See the docs

[2017-12-21 19:20] RuanHerculano commented on #1048
Do you have any examples to show me of someone who did something similar?

[2017-12-21 19:29] RuanHerculano commented on #1048
**This resolve my problem!**
tanks @zachfeldman
[code]

[2017-12-21 19:31] #1048 closed

[2017-12-22 04:16] lynndylanhurley commented on #976
A lot of these warnings are outside of our control. I've noticed that running `rails test` instead of `rake test` ignores most of these. We may want to update the CI script to use that instead.

[2017-12-22 23:11] asartalo commented on #976
@lynndylanhurley the test warnings can be hidden from the test output by adding `$VERBOSE = nil` on `test/test_helper.rb` or editing the Rakefile as I did in my pull request at 448c813

As to wether hiding the warnings is the best solution for this, I'm not entirely sure.

[2017-12-26 00:20] NicholasLYang opened #1051 "Manual Authentication and Registration"
Hi, so I'm attempting to integrate devise_token_auth and graphql_ruby. Namely, I want authentication for some of my mutations. However, I'm struggling with finding a way to manually create users and authenticate them without going through the usual request routes. Is there a helper function or something for creating users? Thanks!

[2017-12-26 07:25] zachfeldman commented on #1051
Hey @NicholasLYang how about User.create(user_params)? Not sure why you need to use a special DTA method to create a user. There is a special DTA method for auth though! See `valid_token` in the docs:
https://github.com/lynndylanhurley/devise_token_auth

[2017-12-26 08:35] NicholasLYang commented on #1051
Main issue with just creating the user is it doesn't trigger the confirmable email. Though actually...I can just do that manually. Alright, that works. Thanks!

[2017-12-26 08:35] #1051 closed

[2017-12-26 09:46] zachfeldman commented on #1051
@NicholasLYang you're welcome! We're always welcoming new contributors....if you have time, check out the issue queue.

[2017-12-26 17:43] dikey94 opened #1052 "#<IndexError: string not matched> after second sign_in request with postgres"
Hello everyone,
I'm new in devise + token auth solution so please bear with me.

I noticed a strange behavior - the second sign_in request gives me 500 Internal Server Error - "#<IndexError: string not matched>". When I manually update tokens column and set it to null everything works fine.

Full response:

Gemfile:

Thanks for any support.

[2017-12-26 19:33] zachfeldman commented on #1052
@dikey94 are you sure that your tokens column is JSON? See this search result:
https://stackoverflow.com/questions/2072283/rails-strange-error-indexerror-string-not-matched

Sounds like maybe you have a column that's the wrong type?

[2017-12-26 19:37] dikey94 commented on #1052
I'm sure.

Here is a simple users table preview:
`id	bigint
provider	character varying
uid	character varying
encrypted_password	character varying
reset_password_token	character varying
reset_password_sent_at	timestamp without time zone
remember_created_at	timestamp without time zone
sign_in_count	integer
current_sign_in_at	timestamp without time zone
last_sign_in_at	timestamp without time zone
cur

[2017-12-26 19:38] zachfeldman commented on #1052
@dikey94 what database are you using to back your project?

[2017-12-26 19:39] zachfeldman commented on #1052
Also see:
https://github.com/rootstrap/rails_api_base/issues/73
https://github.com/rootstrap/rails_api_base/pull/85

[2017-12-26 19:39] dikey94 commented on #1052
It's a docker version of postgres:10.1

[2017-12-27 14:04] MaicolBen commented on #1052
It's a duplicate of #121

[2017-12-27 14:04] #1052 closed

[2017-12-28 16:48] zachfeldman commented on #976
@asartalo please feel free to claim the bounty! Thanks for your help on this one.

[2017-12-28 16:48] #976 closed

[2017-12-29 09:44] p-engelkes opened #1053 "Missing acces-token in Response Header"
I'm having a problem that the access-token in my Response Header is sometimes empty. My application is pretty new and I started with authentication. For my Frontend I am using React and the redux-token-auth library.

Registering and loggin in users works without a problem. After refreshing my page I send a request to validate my token. In the response I get the new _access-token_  which is stored

[2017-12-29 11:19] zachfeldman commented on #1053
Try turning off, "change_headers_on_each_request" . See the README

[2017-12-30 05:17] KelseyDH commented on #1053
Random question from the README docs on this:

Does the behaviour (of not returning an auth-token on batch requests) still occur if `config.change_headers_on_each_request` is set to `false`?  Or in those cases, will devise_token_auth always return an auth-token no matter how quickly it receives a batch of requests?

[2017-12-30 05:18] lynndylanhurley commented on #1053
That should be correct. Are you seeing different behavior?

[2017-12-30 05:19] KelseyDH commented on #1053
@lynndylanhurley   No I just wanted to confirm as the documentation didn't clarify, and it definitely would have definitely been a gotcha for my API consumers.  Thanks for clarifying!

[2017-12-30 06:08] KelseyDH opened #1054 "Storing auth tokens outside of users table?"
I would like to set up my app to change tokens on every request, however I'm concerned about the performance impact this might have at scale since having tokens stored on the user column would imply that I'm updating the Users table on every request.

In Rails for sessions you can set up a separate database column for storing these, and even abstract that session store to work with a fast key/valu

[2017-12-30 09:34] zachfeldman commented on #1054
Hey @KelseyDH of course your approach us possible with a pull request.

As for performance... Nobody has reported an issue with this approach but I also think many users disable changing on each request.

Have you tried benchmarking it yourself? Shouldn't be to hard to setup.

[2017-12-30 17:09] lynndylanhurley commented on #1054
In any case the `User` table will need to be queried first with each request using the user's `id`. If we break the tokens out into a separate table, then we need to also query the tokens table. A query to the `User` table with a join to a `Tokens` table will be slower than just a query to the `User` table.

If the tokens are stored in redis, then we would need to query the `User` table and then c

[2018-01-02 12:06] p-engelkes commented on #1053
Thanks 👍 That fixed it for me.

[2018-01-02 16:20] owocki commented on #976
@asartalo @zachfeldman hi from gitcoin.co  !  let me know if you need any help claiming the bounty

[2018-01-04 05:38] nitsujri opened #1057 "Support Devise 4.4.0 & Ruby 2.5.0"
Hi lynndylanhurley, thanks for this amazing gem that helps keep our API's secure.

A few days ago devise upgraded to `4.4.0` to support Ruby `2.5.0`.

We would love to start testing Ruby 2.5 and need this version bump to help us along.

Thanks!
Justin

[2018-01-04 06:00] sachinprasad commented on #181
I already have UUID for unique user identification. Can I use it? Also Can someone explain the use of  `'provider', 'uid' and 'tokens' `that we add for devise_token_auth implementation.

[2018-01-04 15:23] xero88 commented on #99
I have the same error with :
[code]

[2018-01-04 16:21] lynndylanhurley commented on #1057
Thanks for the heads up @nitsujri! We'll take care of this ASAP. Feel free to submit a PR if you have time!

[2018-01-04 16:29] Mohammed-Eliass opened #1058 "Error ActionController::RoutingError: No route matches [GET] \"/omniauth/pincode\""
rails (5.1.4)
    devise (4.3.0)
    devise_token_auth (0.1.42)
    ruby (2.4.0p0)

`Gemfile`

    gem 'rails', '~> 5.1.4'
    gem 'pg', '~> 0.18'
    gem 'puma', '~> 3.7'
    gem 'omniauth'
    gem 'devise_token_auth'
    gem 'twilio-ruby'

    group :development, :test do
      gem 'byebug', platforms: [:mri, :mingw, :x64_mingw]
      gem 'rspec-rails'
      gem 'shoulda-matchers'
      gem 'fac

[2018-01-05 12:59] MaicolBen commented on #1057
Closed via #1056

[2018-01-05 12:59] #1057 closed

[2018-01-05 13:01] MaicolBen commented on #1053
Closing since I see that fixed for you

[2018-01-05 13:01] #1053 closed

[2018-01-07 04:18] juanmanuelramallo commented on #986
Instead of `params` you should use `request.query_parameters`.

[2018-01-07 19:16] lynndylanhurley commented on #986
@juanmanuelramallo - thanks, that's exactly what I meant. does `params` not check the query parameters in websocket requests?

[2018-01-08 02:14] h4b00 commented on #972
@lynndylanhurley
when can we expect the next release?

[2018-01-08 15:19] juanmanuelramallo commented on #986
No, it doesn't check 😕

[2018-01-08 23:33] KelseyDH opened #1060 "BUG: config.enable_standard_devise_support = true returns wrong current_user"
When posting issues, please include the following information to speed up the troubleshooting process:

* **Version**:  0.1.42

Relevant environment:
- Ruby **[2.4.2]**
- Rails **[5.1.4]**
[code]

* **Request and response headers**:
Described below.

* **Rails Stacktrace**: this can be found in the `log/development.log` of your API.
* **Environmental Info**: How is your application different from

[2018-01-09 03:35] zachfeldman commented on #1058
@Mohammed-Eliass your error makes sense because there is no route for omniauth/pincode, only /api/v1/customer/auth/pincode.

[2018-01-09 03:49] #74 closed

[2018-01-09 03:51] zachfeldman commented on #972
@h4b00 have you tested  v0.1.43.beta1 and has it been working well for you?

The more people test the beta branch, the faster we cut a release :).

[2018-01-09 06:45] #1058 closed

[2018-01-09 17:47] zachfeldman commented on #1060
@KelseyDH thanks so much for your report! Seems like a pretty complicated setup. Do you think you could solve this through code/a pull request? If so we'd welcome it!

[2018-01-10 18:50] KelseyDH commented on #1060
@zachfeldman  I definitely have a hacky setup for my routes, [which came from trying to create a web-accessible endpoint with classic devise to support password resets](https://github.com/lynndylanhurley/devise_token_auth/issues/604#issuecomment-351180401).

It's not an arrangement I'm all that happy with.  E.g. one problem is that despite my attempted solution of trying to subclass ApplicationCon

[2018-01-10 21:48] kgeoir opened #1062 "Log my user via token and session to share login over 2 app"
Hello,
  My post is not about a bug but more an architecture question:
I am having a rails app with this gem (version: 0.1.42) and an other app in ionic using angular2-token (version: 0.2.0-beta.14). I am planing to put my ionic app accessible via web-browser and I'd like to know how can avoid my user to log twice (once in my rails app via devise session, then on the app using devise token)
I had

[2018-01-10 21:53] zachfeldman commented on #1062
Can you explain further by giving us an example, including what kind of device and screen resolution you'd be doing this with?

[2018-01-10 22:05] kgeoir commented on #1062
My target is at the end of the day be able to develop for web and app seamlessly. To do so, my plan is to have a main website with let's say a marketing front and an API. This main website would be host on mysite.com. When user registered and paid, they will acces to the app which could be an android app, an ios app or a website hosted on app.mysite.com. (the login here use devise_token on mysite.

[2018-01-10 22:23] zachfeldman commented on #1062
Hey @kgeoir , no I don't think devise_token_auth provides this functionality out of the box. You'd have to implement something yourself.

[2018-01-10 23:13] dnorthrupva commented on #604
I have one question - I get the flow, but I'm confused about one thing.

If I want to require current_password to be required for MOST updates, but if I follow the flow we'll come to an issue where when I get the redirect_url with the UID etc appended, I still have no way of passing the 'current_password', or am I missing something?

[2018-01-11 15:14] zachfeldman commented on #1062
@kgeoir ok, this isn't really a forum for general questions, it's an issue tracker for problems with this gem. Please try stack overflow, closing this as off-topic. Good luck

[2018-01-11 15:14] #1062 closed

[2018-01-11 16:29] owocki commented on #976
@zachfeldman should i be closing the bounty for this?  i see that you closed the issue already...

[2018-01-11 16:42] zachfeldman commented on #976
@owocki I'm waiting for @asartalo to claim it?

[2018-01-11 17:27] owocki commented on #976
oh ok i was confused bc the github issue is closed now but the bounty is still open 👌

[2018-01-11 17:31] zachfeldman commented on #976
Oh ok yeah I don't know what to do in your system, feel free to explain it to me better. If I close the bounty does @asartalo get it? Do I have to award it first?

[2018-01-11 17:34] owocki commented on #976
once @asartalo claims the bounty ( at https://gitcoin.co/funding/details?url=https://github.com/lynndylanhurley/devise_token_auth/issues/976 ), @gitcoinbot will comment on this thread.  then there will be an 'accept' button on gitcoin you can use the pay it out directly to his ETH address :)

[2018-01-11 18:03] arcreative commented on #832
This seems to be fixed via 5300ea7.  Feel free to close, thanks!

[2018-01-11 18:31] zachfeldman commented on #832
Great!

[2018-01-11 18:31] #832 closed

[2018-01-11 20:25] dannymockaitis commented on #577
If anyone is using Rspec requests, you can define @ingolfured method above but instead return the auth_header

    def token_sign_in user
        return user.create_new_auth_token
    end

Then on any call you want to have an authenticated user just define the headers
Also make a factory for your users

Then
    before { get "/api/v1/beers/#{breweries.first.id}/#{beers.first.id}", headers: token_s

[2018-01-12 01:08] wmlutz commented on #986
Worth noting that you need to figure out how to update the token on your client (which for me is React Native) as the cable doesn't have headers to send you the next token/expiry.